.ms-HubNav {
  background-color: rgb(21, 71, 52);
}
.ms-HubNav-link {
  color: white;
  font-weight: 700;
}
.ms-HubNav .ms-HorizontalNav .ms-HorizontalNavItem-link.is-not-selected,
.ms-HubNav .ms-HorizontalNav .ms-HorizontalNavItem-link.is-header {
  cursor: pointer;
}
.ms-HorizontalNavItem-link.is-not-selected,
.ms-HorizontalNavItem-link.is-header {
  color: white;
  font-weight: 600;
}
.ms-HubNav {
  line-height: 15px;
}
.ms-Menu-item {
  line-height: 24px;
}
.ms-Menu-section a {
  color: white;
}
.ms-MegaMenu-gridLayout.withDivider {
  background-color: rgb(21, 71, 52);
}
.ms-HubNav .ms-HorizontalNav .ms-ContextualMenu-itemText {
  color: white;
}
.ms-Menu-item .ms-Nav-link {
  -webkit-text-decoration-color: white;
  text-decoration-color: white;
}
.ms-Menu-item:hover .ms-Nav-link:hover {
  text-decoration: underline;
}
