.ms-HubNav {background-color: rgb(21, 71, 52) !important;}
.ms-HubNav-link {color:white !important;font-weight: 700 !important;}
.ms-HubNav .ms-HorizontalNav .ms-HorizontalNavItem-link.is-not-selected, .ms-HubNav .ms-HorizontalNav .ms-HorizontalNavItem-link.is-header {cursor: pointer !important;}
.ms-HorizontalNavItem-link.is-not-selected, .ms-HorizontalNavItem-link.is-header {color: white !important;font-weight: 600 !important;}
.ms-HubNav{line-height: 15px !important;}
.ms-Menu-item {line-height: 24px !important;}
.ms-Menu-section a {color: white !important;}
.ms-MegaMenu-gridLayout.withDivider {background-color: rgb(21, 71, 52) !important;}
.ms-HubNav .ms-HorizontalNav .ms-ContextualMenu-itemText {color: white !important;}
.ms-Menu-item .ms-Nav-link {-webkit-text-decoration-color: white !important;text-decoration-color: white !important;}
.ms-Menu-item:hover .ms-Nav-link:hover {text-decoration: underline !important;}
