<h2>
    Daylight Overdraft
</h2>

<table>
    <tr>
        <td colspan="2" class="fmb-form-section">1. General Information Required
        </td>
    </tr>


    <tr>
        <td>Company</td>
        <td><input type="text" name="" id="" ng-model="d.idata.company"></td>

    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="" id="" ng-model="d.idata.address"></td>
        <td>City State Zip</td>
        <td><input type="text" name="" id="" ng-model="d.idata.citystate"></td>
    </tr>
    <tr>
        <td>Phone #</td>
        <td><input type="text" name="" id="" ng-model="d.idata.phone"></td>
        <td>Fax #</td>
        <td><input type="text" name="" id="" ng-model="d.idata.fax"></td>
    </tr>
    <tr>
        <td>Tax ID</td>
        <td><input type="text" name="" id="" ng-model="d.idata.tax"></td>
        <td>Email Address</td>
        <td><input type="text" name="" id="" ng-model="d.idata.email"></td>
    </tr>
    <tr>
        <td>Branch #</td>
        <td><input type="text" name="" id="" ng-model="d.idata.branch"></td>
        <td>Treasury Manager / Account Officer</td>
        <td><input type="text" name="" id="" ng-model="d.idata.treasurymanager"></td>
    </tr>

    <tr>
        <td colspan="2" class="fmb-form-section">2. Account Information / Account Setup Required
        </td>
    </tr>

    <tr>
        <td>DDA Account(s) #</td>
        <td>
            <input type="text" name="" id="" ng-model="d.idata.dda">
        </td>
    </tr>
    <tr>
        <td>Daylight OD Limit:</td>
        <td><input type="text" name="" id="" ng-model="d.idata.odlimit"></td>
    </tr>

    <!-- <tr>
        <td colspan="2" class="fmb-form-section">3. Service Authorization / One Signature Required - Additional
            Signature if applicable
        </td>
    </tr>


<tr>
    <td>The above services are requested and approved by the following authorized signer(s) on the Client's resolutiosn document.</td>
</tr> -->


</table>