/* OVERRRIDE */
.container-fluid {
    padding-left:0px !important;
    padding-right:0px !important;
    margin-right:0px !important;
    margin-left:0px !important;
}


label {
    font-weight: inherit;
}

.fmb-account-features {
    padding-left: 60px;
}

.fmb-account-features input[type="checkbox"] {
    float: right;
}

.fmb-error {
    color: red;
}

.fmb-footnote {
    font-size: smaller;
    font-style: italic;
}

body {
    padding: 20px;
}

.fmb-footer-left {
    float: left;
}

.fmb-footer-right {
    float: right;
}

.fmb-footer-center {
    text-align: center;
}


.fmb-green {
    background-color: green;
    color: white !important;
}

.fmb-purple {
    background-color: #451F5C;
    color: white !important;
}

.fmb-purple a {
    color: white !important;
}

.fmb-center {
    text-align: center;
}

.fmb-header td {
    padding-top: 60px;
    vertical-align: bottom;
    min-height: 100px;
}

.fmb-nonrevolve-left {
    max-width: 250px;
}

.fmb-form-section {
    font-weight: bold;
}

.fmb-required {
    font-weight: bold;
}

.fmb-required-field {
    border-color: red;
    border-style: solid;
}

.fmb-warning {
    background-color: yellow;
    border: 1px;
}

.fmb-center {
    text-align: center;
}

.fmb-headers {
    text-align: center;
}
.fmb-nowrap {
    white-space: nowrap;
}
.fmb-table-nowrap td {
    white-space: nowrap;
}
.fmb-status {
    background-color: #D5CDDA;  /*#836992;*/
    width:280px;
    float: right;
    padding:10px;
    font-weight: bold;
}

.fmb-field {
    font-weight: bold;
    vertical-align: top;
    padding-right: 20px;
}

.fmb-logo {
    margin-left:2px;
    margin-right: 30px;
}

.fmb-toolbar-bottom {
    padding-top: 20px;
}

.fmb-linebreak {
    border-top: 5px solid #eee !important;
}

.fmb-field-table td:nth-child(1) {
    /* your stuff here */
    font-weight: bold;
    vertical-align: top;
    padding-right: 20px;
}

.fmb-blue {
    background-color: #337AB7;
    color: white;
}

.fmb-blue:hover {
    color: white;
}