<h2>
    Repetitive Wire Transfer
</h2>

<table>
    <tr>
        <td colspan="2" class="fmb-form-section">1. General Information Required
        </td>
    </tr>


    <tr>
        <td>Company</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.company"></td>

    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.address"></td>
        <td>City State Zip</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.citystate"></td>
    </tr>
    <tr>
        <td>Phone #</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.phone"></td>
        <td>Fax #</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.fax"></td>
    </tr>
    <tr>
        <td>Tax ID</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
        <td>Email Address</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.email"></td>
    </tr>


    <tr>
        <td colspan="4" class="fmb-form-section">
            <p>A wire initiated by telephone on a regular basis can be setup as a reptitive wire transfer. A unique
                reptitive number is assigend and only the dollar amount and additional information can be ___ this type
                of request.</p>

            <p>The follow setup is:</p>
        </td>
    </tr>

    <tr>
        <td>REPETITIVE NUMBER (for New leave blank)</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.repnumber"></td>
    </tr>
    <tr>
        <td>DEBIT (Originator's Information)</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Account #</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Account Title</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>What is the purpsoe of the wire?</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>List Type of Currency (US or Other)</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>CREDIT (Beneficiary Information)</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Receiving Bank ABA# or Code</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Receiving Bank Name</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>City, State/Country</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>(for further credit to, if applicable)
            Beneficiary Bank's ABA#, Acct#, or Code</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Beneficiary Bank's Name</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>City, State/Country</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Branch</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>BENEFICIARY'S NAME:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>City, State/Country</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Account Number</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>
    <tr>
        <td>Additional Information for Beneficiary</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.tax"></td>
    </tr>

</table>