<h2>Smart Safe User Information</h2>



<table border="0">
    <tr>
        <td>Business Name:
        </td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.businessname"></td>
    </tr>
    <tr>
        <td>Money Service Business:
        </td>
        <td>
            <input type="checkbox" name="" id="" ng-model="d.smartsafe.moneyservice">
        </td>
    </tr>
    <tr>
        <td>Business Type:
        </td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.businesstype"></td>
    </tr>
    <tr>
        <td>Account Number:
        </td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.acctnumber"></td>
    </tr>
    <tr class="fmb-form-section">
        <td colspan="2">Administrator (Responsible for ordering coin/currency)
        </td>
        <td>Co-Admin (if applicable) </td>
    </tr>
    <tr>
        <td>Full Name:
        </td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.fullname"></td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.cofullname"></td>
    </tr>
    <tr>
        <td>Email Address:
        </td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.email"></td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.coemail"></td>
    </tr>

    <tr>
        <td>Phone Number:
        </td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.phone"></td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.cophone"></td>
    </tr>

    <tr>
        <td>Armored Carrier:

        </td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.armor"></td>
    </tr>

    <tr>
        <td>Requested Service-New or Change:
        </td>
        <td>
            <input type="radio" ng-model="d.smartsafe.requestService" name="requestService" id="requestService1" value="New">
            <label for="requestService1">New</label>
            <input type="radio" ng-model="d.smartsafe.requestService" name="requestService" id="requestService2" value="Change">
            <label for="requestService2">Change</label>
            <br>
            <input type="radio" ng-model="d.smartsafe.requestService" name="requestService" id="requestService3" value="Delete">
            <label for="requestService2">Delete</label>
        </td>
    </tr>

    <tr>
        <td colspan="2" class="fmb-form-section">Deposit Type - Bulk, Envelope or Smart Safe
        </td>
    </tr>

    <tr>
        <td>Bulk - cash and coin:</td>
        <td>
            <input type="checkbox" name="" id="" ng-model="d.smartsafe.bulk">
            Bulk - Cash and Coin
        </td>
        <td>Deposit of cash and/or coin on one deposit ticket
        </td>
    </tr>
    <tr>
        <td>Envelope:</td>
        <td>
            <input type="checkbox" name="" id="" ng-model="d.smartsafe.envelope">
            Envelope
        </td>
        <td>The total value of the contents in each envelope are on the face of the envelope, along with a unique
            identifier for the envelope (i.e., employee name or ID, drawer number, etc.).   Bag envelopes with the
            corresponding deposit ticket that lists the total of each envelope, as well as the total of all envelopes.
        </td>
    </tr>
    <tr>
        <td>Smart Safe:</td>
        <td>
            <input type="checkbox" name="" id="" ng-model="d.smartsafe.smart">Smart Safe
        </td>
        <td>Deposits taken by the armored transportation from contents of a Dunbar Vault
        </td>
    </tr>
    <tr>
        <td>Smart Safe - Provisional Credit:</td>
        <td>
            <input type="radio" name="saveprov" id="" ng-model="d.smartsafe.prov" value="1">Yes
            <input type="radio" name="saveprov" id="" ng-model="d.smartsafe.prov" value="0">No

        </td>
    </tr>
    <tr>
        <td>Does the deposit contain checks:</td>
        <td class="fmb-nowrap">
            <input type="checkbox" name="" id="" ng-model="d.smartsafe.deposit">Deposit Contain Checks
        </td>
        <td>FMB discourages sending checks to the Commercial Cash vault, as they will be subject to 1-3 business day
            processing delays. Remote Deposit Capture is strongly recommended for the depositing of checks. If sending
            checks they must be on a separate deposit ticket.
        </td>
    </tr>
    <tr>
        <td>Effective Date:</td>
        <td><input type="text" datepicker name="" id="" ng-model="d.smartsafe.effective"></td>
        <td>Please allow 3-4 business days for setup. Client must notify their armored transportation of the change
        </td>
    </tr>
    <tr>
        <td class="fmb-nowrap">Currency/Coin Orders:</td>
        <td>
            <input type="checkbox" name="" id="" ng-model="d.smartsafe.currency">Currency/Coin Orders
        </td>
    </tr>


    <tr>
        <td>Non Standard Orders:</td>
        <td>
            <input type="checkbox" name="" id="" ng-model="d.smartsafe.nonstandard">Non Standard Orders
        </td>
    </tr>

    <tr>
        <td>Standard Orders:</td>
        <td>
            <input type="checkbox" name="" id="" ng-model="d.smartsafe.standard">Standard Orders
        </td>
    </tr>

    <tr>
        <td>Service Days:</td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.servicedays"></td>
        <td>Mon, Tues, Wed, Thur, Fri, and/or Sat
        </td>
    </tr>

    <tr>
        <td class="fmb-nowrap">Cash In Limit (Average daily deposit):</td>
        <td><input type="number" name="" id="" ng-model="d.smartsafe.cashin"></td>
        <td>Soft limit
        </td>
    </tr>
    <tr>
        <td>Cash Out Limit:</td>
        <td><input type="number" name="" id="" ng-model="d.smartsafe.cashout"></td>
        <td>Hard limit. Client will need to contact bank of they go over this limit and could delay delivery.
        </td>
    </tr>
    <tr>
        <td>Service address for delivery:</td>
        <td><input type="text" name="" id="" ng-model="d.smartsafe.service"></td>
    </tr>

</table>