<h2>Wire User Info</h2>


<table>
    <tr>
        <td colspan="2">
            <input type="radio" name="wu" id="yes-be" ng-model="d.wire.wu" value="Business Express">
            <label for="yes-be">
                Business Express
            </label>
            <input type="radio" name="wu" id="no-po" ng-model="d.wire.wu" value="Phone Only">
            <label for="no-po">
                Phone Only
            </label>
        </td>
        <td colspan="2">

        </td>
    </tr>
    <tr>
        <td>Business Name
        </td>
        <td>Account Number
        </td>
        <td>
            Account Title
        </td>
        <td>Main Function of Business
        </td>
    </tr>
    <tr ng-repeat="r in d.wire.wireAccount" style="vertical-align:top">
        <td>
            <input type="text" name="" id="" ng-model="r.businessname">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.acctnumber">
        </td>
        <td>
            <textarea name="" id="" cols="30" rows="2" ng-model="r.accttitle"></textarea>
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.mainfn">
        </td>
        <td><i class="fas fa-minus-circle" ng-click="deleteRow('wire.wireAccount', $index)">Remove</i></td>
        </td>
    </tr>
    <tr>
        <td>
            <i class="fa fa-plus-circle" ng-click="addRow('wire.wireAccount')">Add</i>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>Authorized Individual
        </td>
        <td>Wire Code**
        </td>
        <td>Amount
        </td>
        <td>
            EMail
        </td>
        <td>Phone number/extension
        </td>
        <td>Secondary phone number/extension
        </td>
    </tr>
    <tr ng-repeat="r in d.wire.wireIndividual">
        <td><input type="text" name="" id="" ng-model="r.authindiv"></td>
        <td><input type="text" name="" id="" ng-model="r.wirecode"></td>
        <td><input type="text" name="" id="" ng-model="r.amount"></td>
        <td><input type="text" name="" id="" ng-model="r.email"></td>

        <td><input type="text" name="" id="" ng-model="r.phone"></td>
        <td><input type="text" name="" id="" ng-model="r.secondphone"></td>
        <td><i class="fas fa-minus-circle" ng-click="deleteRow('wire.wireIndividual', $index)">Remove</i></td>
        </td>
    </tr>
    <tr>
        <td>
            <i class="fa fa-plus-circle" ng-click="addRow('wire.wireIndividual')">Add</i>
        </td>
    </tr>
</table>

<h3>Wire Codes**</h3>
<ul>
    <li>B – Person can initiate and confirm transfers subject only to the dollar limits indicated herein</li>
    <li>I – Person is authorized to initiate any type of transfer but cannot confirm transfers</li>
    <li>C – Person is authorized to confirm all transfer requests but not initiate transfers</li>
    <li>X – Person is authorized to initiate and confirm transfer requests but not authorized to confirm transfers that
        he or she has initiated</li>
</ul>