<h2>Bill Payment Consolidation</h2>

<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.billpay.substatus" ng-options="choiceSubstatus"></select>
        </td>
    </tr>
    <tr>
        <td>Company Name:
        </td>
        <td><input type="text" ng-model="d.start.companyName" disabled></td>
        <td>Administrator:
        </td>
        <td><input type="text" ng-model="d.billpay.administrator"></td>
    </tr>
    <tr>
        <td>Company Address:
        </td>
        <td><input type="text" ng-model="d.billpay.address1"></td>
        <td>Admin Title:
        </td>
        <td><input type="text" ng-model="d.billpay.adminTitle"></td>
    </tr>

    <tr>
        <td>Company Phone</td>
        <td><input type="text" ng-model="d.billpay.phone"></td>
        <td>Admin Phone:</td>
        <td><input type="text" ng-model="d.billpay.adminPhone"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text" ng-model="d.billpay.email"></td>
        <td>Admin Email:</td>
        <td><input type="text" ng-model="d.billpay.adminEmail"></td>
    </tr>


    <tr>
        <td>City:
        </td>
        <td><input type="text" ng-model="d.billpay.city"></td>
    </tr>
    <tr>
        <td>State:
        </td>
        <td><input type="text" ng-model="d.billpay.state"></td>
    </tr>
    <tr>
        <td>ZIP Code:
        </td>
        <td><input type="text" ng-model="d.billpay.zip"></td>
        <td></td>
        <td></td>
    </tr>

</table>
<h2>Authorized Accounts</h2>
<table>
    <tr>
        <td>Account Name:
        </td>
        <td><input type="text" ng-model="d.billpay.accountName"></td>
        <td>Account Number:
        </td>
        <td><input type="text" ng-model="d.billpay.accountNumber"></td>
    </tr>
    <tr>
        <td>CIS Number:
        </td>
        <td><input type="text" ng-model="d.billpay.cis"></td>
        <td>Parent Entity TIN:
        </td>
        <td><input type="text" ng-model="d.billpay.tin"></td>
    </tr>
    <tr>
        <td>Type of Organization:
        </td>
        <td>
            <input type="radio" name="" id="typeOrg1" ng-model="d.typeOrg" value="Gov" ng-model="d.billpay.typeorg">Government
            Body &nbsp;
            <input type="radio" name="" id="typeOrg2" ng-model="d.typeOrg" value="Other" ng-model="d.billpay.typeorg">Other
        </td>
        <td></td>
        <td></td>
    </tr>


</table>

<h2>Remittance</h2>
<table>
    <tr>
        <td>Remittance Address</td>
        <td>Biller Name</td>
        <td>ZIP + 4</td>
    </tr>
    <tr ng-repeat="r in d.billpay.remitAddress">
        <td>
            <input type="text" ng-model="r.remitaddress1" size="50"></td>
        <td>
            <input type="text" ng-model="r.billername" size="50">
        </td>

        <td>
            <input type="text" ng-model="r.remitaddress2">
        </td>
        <td>
            <i class="fa fa-minus-circle" ng-click="deleteRow('billpay.remitAddress', $index)">Remove</i>
        </td>
    </tr>
    <tr>
        <td>
            <i class="fa fa-plus-circle" ng-click="addRow('billpay.remitAddress')">Add</i>
        </td>
    </tr>

</table>

<h2>Billing Number</h2>
<table>
    <tr>
        <td>How many characters are in the billing number?
        </td>
        <td>
            <input type="text" ng-model="d.billpay.billnumber">
        </td>
    </tr>
    <tr>
        <td>Minimum number of characters?</td>
        <td>
            <input type="text" ng-model="d.billpay.billminchar">
        </td>

    </tr>
    <tr>
        <td>Maximum number of characters?</td>
        <td>
            <input type="text" ng-model="d.billpay.billmaxchar">
        </td>

    </tr>
    <tr>
        <td>What format are the billing (account) numbers?</td>
        <td class="fmb-nowrap">
            <input type="radio" name="" id="formatBill1" ng-model="d.billpay.billformat" value="Numeric">Numeric
            <input type="radio" name="" id="formatBill2" ng-model="d.billpay.billformat" value="Alpha Numeric">Alpha
            Numeric
        </td>

    </tr>
    <tr>
        <td style="vertical-align:top">Define Billing Account Mask:
        </td>
        <td>

            <!-- Mask -->
            <table>
                <tr>
                    <td>Mask</td>
                    <td>Length</td>
                </tr>
                <tr ng-repeat="r in d.billpay.rowBillMask">
                    <td><input type="text" ng-model="r.billmask"></td>
                    <td><input type="text" ng-model="r.length"></td>
                    <td>
                        <i class="fa fa-minus-circle" ng-click="deleteRow('billpay.rowBillMask', $index)">Remove</i>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="fa fa-plus-circle" ng-click="addRow('billpay.rowBillMask')">Add</i>
                    </td>
                </tr>
            </table>
            <!-- Mask -->

        </td>

    </tr>
    <tr>
        <td>Does anything need to be removed from the billing account number (i.e. dashes, spaces, etc.)?
        </td>
        <td> <input type="radio" name="billpayQ1" id="billpayQ1Y" ng-model="d.billpay.billremove" value="1">
            <label for="billpayQ1Y">Yes</label>

            &nbsp;
            <input type="radio" name="billpayQ1" id="billpayQ1N" ng-model="d.billpay.billremove" value="0">

            <label for="billpayQ1N">No</label>
        </td>
        <td>
            <div ng-show="billpay.billremove == 1">
                Please explain:
                <input type="text" ng-model="d.billpay.explainbillremove">
            </div>
        </td>
    </tr>
    <tr>
        <td>Does the billing number have logic associated to help identify products, locations, etc.?
        </td>
        <td> <input type="radio" name="billpayQ2" id="billpayQ2Y" ng-model="d.billpay.billlogic" value="1">
            <label for="billpayQ2Y">Yes</label>
            &nbsp;
            <input type="radio" name="billpayQ2" id="billpayQ2N" ng-model="d.billpay.billlogic" value="0">
            <label for="billpayQ2N">No</label>
        </td>
        <td>

            <div ng-show="billpay.billlogic == 1">
                Please Explain:
                <input type="text" ng-model="d.billpay.explainbilllogic">
            </div>

        </td>
    </tr>
    <tr>
        <td>Is the billing number clearly and completely visible to the customer on the bill?
        </td>
        <td> <input type="radio" name="billpayQ3" id="billpayQ3Y" ng-model="d.billpay.billvisible" value="1">
            <label for="billpayQ3Y">Yes</label>
            &nbsp;
            <input type="radio" name="billpayQ3" id="billpayQ3N" ng-model="d.billpay.billvisible" value="0">
            <label for="billpayQ3N">No</label>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Are there edit or mod checks associated with the billing number?
        </td>
        <td> <input type="radio" name="billpayQ5" id="billpayQ5Y" ng-model="d.billpay.modcheck" value="1">
            <label for="billpayQ5Y">Yes</label>
            <input type="radio" name="billpayQ5" id="billpayQ5N" ng-model="d.billpay.modcheck" value="0">
            <label for="billpayQ5N">No</label>
            <div ng-show="d.billpay.modcheck == 1">If yes, please attach a copy of the mod calculation or describe the edit.</div>
        </td>
        <td>
            <div ng-show="billpay.modcheck == 1">
                If yes, please attach a copy of the mod calculation or describe the edit:
                <input type="text" ng-model="d.billpay.explainmodcheck">
            </div>
        </td>
    </tr>
    <tr>
        <td>Are the billing numbers static?
        </td>
        <td> <input type="radio" name="billpayQ6" id="billpayQ6Y" ng-model="d.billpay.billstatic" value="1">
            <label for="billpayQ6Y">Yes</label>
            &nbsp;
            <input type="radio" name="billpayQ6" id="billpayQ6N" ng-model="d.billpay.billstatic" value="0">
            <label for="billpayQ6N">No</label>
            <input type="text" name="" id="" ng-show="d.billpay.billstatic == '0'" ng-model="d.billpay.billstaticnote">

        </td>
        <td>

            <div ng-show="billpay.billstatic == 0">
                If not, what action can cause the change? Add field to enter data.
                <input type="text" ng-model="d.billpay.explainmodcheck">
            </div>
        </td>
        </td>
    </tr>
</table>

<h2>Input Files</h2>
<table>
    <tr>
        <td>Is a scrub/valid account number file being provided?
        </td>
        <td>

            <input type="radio" name="scrub" id="scrubY" ng-model="d.billpay.scrub" value="1">Yes &nbsp;
            <input type="radio" name="scrub" id="scrubN" ng-model="d.billpay.scrub" value="0">No
        </td>
    </tr>
    <tr ng-show="d.billpay.scrub == 1">
        <td>
            <br>
            Pick one of the following options for exception handling:
        </td>
        <td colspan="3">
            <input type="radio" name="scrubOption" id="scrubOption1" ng-model="d.billpay.except" value="include">
            Exceptions should be included. Credit will be received in the ACH transmission and transaction data will be
            available in the data file (default).
            <br>
            <input type="radio" name="scrubOption" id="scrubOption2" ng-model="d.billpay.except" value="sendBack">
            Exceptions should automatically be sent back. Neither credit nor data will be available for these
            transactions
        </td>

    </tr>



    <tr>
        <td colspan="2">

            <h2>Repairs</h2>
        </td>
    </tr>
    <tr>
        <td>Will you require a dual control process for repairs?
        </td>
        <td>
            <input type="radio" name="dual" id="dualY" ng-model="d.billpay.dual" value="1">Yes &nbsp;
            <input type="radio" name="dual" id="dualN" ng-model="d.billpay.dual" value="0">No
        </td>
    </tr>

    <tr>
        <td ng-show="d.billpay.dual == 1">
            If Yes, does the repair require the approval of an administrator?
        </td>
        <td ng-show="d.billpay.dual == 1">
            <input type="radio" name="dualRepair" id="dualRepairY" ng-model="d.billpay.dualRepair" value="1">Yes &nbsp;
            <input type="radio" name="dualRepair" id="dualRepairN" ng-model="d.billpay.dualRepair" value="0">No
        </td>
    </tr>


    <tr>
        <td colspan="2">

            <h2>Returns</h2>
        </td>
    </tr>
    <tr>
        <td>Will you require a dual control process for returns?
        </td>
        <td>
            <input type="radio" name="dualreturn" id="dualreturnY" ng-model="d.billpay.dualreturns" value="1">Yes
            &nbsp;
            <input type="radio" name="dualreturn" id="dualreturnN" ng-model="d.billpay.dualreturns" value="0">No
        </td>
    </tr>
    <tr>
        <td ng-show="d.billpay.dualreturns == 1">
            If Yes, does the return require the approval of an administrator?
        </td>
        <td ng-show="d.billpay.dualreturns == 1">
            <input type="radio" name="dualreturnRepair" id="dualreturnRepairY" ng-model="d.billpay.dualreturnsadmin" value="1">Yes
            &nbsp;
            <input type="radio" name="dualreturnRepair" id="dualreturnRepairN" ng-model="d.billpay.dualreturnsadmin" value="0">No
        </td>
    </tr>

    <tr>
        <td colspan="2">
            <h2>ACH Authorization (for adjustments)
            </h2>
        </td>
    </tr>
    <tr>
        <td>Company Name:
        </td>
        <td>
            <input type="text" ng-model="d.billpay.authcompany">
        </td>
    </tr>
    <tr>
        <td>Depository Bank Name:
        </td>
        <td><input type="text" ng-model="d.billpay.authbank"></td>
    </tr>
    <tr>
        <td>City, State:
        </td>
        <td><input type="text" ng-model="d.billpay.authcity"></td>
    </tr>
    <tr>
        <td>Account Title:
        </td>
        <td><input type="text" ng-model="d.billpay.authacct"></td>
    </tr>
    <tr>
        <td>ABA Number:
        </td>
        <td><input type="text" ng-model="d.billpay.authaba"></td>
    </tr>
    <tr>
        <td>Account Number:
        </td>
        <td><input type="text" ng-model="d.billpay.authfax"></td>
    </tr>
</table>