<h2>Credit Card Rebate Matching
</h2>
<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.corpsupply.substatus" ng-options="choiceSubstatus"></select>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>Company
        </td>
        <td>Street Address
        </td>
        <td>City
        </td>
        <td>State
        </td>
        <td>Zip
        </td>
        <td>Average Monthly Spend
        </td>
    </tr>
    <tr ng-repeat="r in d.corpsupply.corpsupplyRows">
        <td>
            <input type="text" name="" id="" ng-model="r.company">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.address">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.city">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.state">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.zip">
        </td>
        <td>
            <input type="number" name="" id="" ng-model="r.monthlyspend">
        </td>
    </tr>

</table>

<i class="fa fa-plus-circle" ng-click="addRow('corpsupply.corpsupplyRows')">Add</i>