
.chevron
{
    background-image: url('/chevron.png');
    background-repeat: no-repeat;
}
.card
{
    /*
    background-image: url('/SiteAssets/images/dbCardBackground_119x78.png');
    background-repeat: no-repeat;
    */
    background-color: yellow;

    height: 78px;
    width: 125px;
    padding-left: 3px;
    padding-top: 1px;
}