<h2>
    Inbound Data Exchange
</h2>

<table>
    <tr>
        <td colspan="2" class="fmb-form-section">Customer Name
        </td>
        <td> <input type="text" ng-model="o.idata.custname"></td>

        <td colspan="2" class="fmb-form-section">Customer Code
        </td>
        <td> <input type="text" ng-model="o.idata.custcode"></td>
    </tr>
    <tr>
        <td colspan="2" class="fmb-form-section">Account Number (exact format)
        </td>
        <td> <input type="text" ng-model="o.idata.acctnumber"></td>

        <td colspan="2" class="fmb-form-section">Account Name
        </td>
        <td> <input type="text" ng-model="o.idata.acctname"></td>
    </tr>




    <tr>
        <td colspan="2" class="fmb-form-section">Reporting Bank
        </td>
        <td> <input type="text" ng-model="o.idata.repbank"></td>

        <td colspan="2" class="fmb-form-section">ABA T/R#
        </td>
        <td> <input type="text" ng-model="o.idata.aba"></td>
    </tr>


    <tr>
        <td colspan="2" class="fmb-form-section">Bank Address
        </td>
        <td>
            <input type="text" ng-model="o.idata.bankaddress">
        </td>

        <td colspan="2" class="fmb-form-section">City State Zip
        </td>
        <td>
            <input type="text" ng-model="o.idata.bankzip">
        </td>
    </tr>


    <tr>
        <td colspan="2" class="fmb-form-section">Reporting Contact
        </td>
        <td>
            <input type="text" ng-model="o.idata.repcontact">
        </td>

        <td colspan="2" class="fmb-form-section">Telephone
        </td>
        <td>
            <input type="text" ng-model="o.idata.tel">
        </td>
    </tr>

    <tr>
        <td colspan="2" class="fmb-form-section">Data Entry Method
        </td>
        <td>

            <input type="checkbox" name="" id="" ng-model="o.idata.voice">Voice
            <br>
            <input type="checkbox" name="" id="" ng-model="o.idata.terminal">Terminal
            <br>
            <input type="checkbox" name="" id="" ng-model="o.idata.trans">Transmission
        </td>


    </tr>
    <tr>
        <td class="fmb-form-section">Data Fields to Be Reported</td>

    </tr>

    <tr>
        <td>


<table>
    <tr>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c1"> Ledger Balance</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c2"> Collected Balance</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c3"> Available Balance</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c4"> CTS Ledger Balance</td>
    </tr>
    <tr>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c5"> Total Credits</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c6"> Detail Credits</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c7"> Wire Credits</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c8"> CTD Collected Balance</td>
    </tr>
    <tr>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c9"> Total Debits</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c10"> Detail Debits</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c11"> Wire Debits</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c12"> YTB Collected Balance</td>
    </tr>
    <tr>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c13"> One Day Float</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c14"> Number of Debits</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c15"> Lockbox Deposits</td>
        <td> <input type="checkbox" name="" id="" ng-model="o.idata.c16"> YTD Ledger Balance</td>
    </tr>
</table>

        </td>
    </tr>

</table>