td {
  padding: 0px;
  margin: 0px;
  word-wrap: break-word;
}
td.fixed {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
tr:hover td {
  text-overflow: clip;
  white-space: normal;
}
table.fixed {
  table-layout: fixed;
}
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

.px-5 {
  padding-left: 15 !important;
  padding-right: 15 !important;
}

/* BUTTON LIBRARY */
.btn-blue {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5abaed;
  *background-color: #5abaed;
  background-image: -moz-linear-gradient(top, #5abaed, #5abaed);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#5abaed),
    to(#5abaed)
  );
  background-image: -webkit-linear-gradient(top, #5abaed, #5abaed);
  background-image: -o-linear-gradient(top, #5abaed, #5abaed);
  background-image: linear-gradient(to bottom, #5abaed, #5abaed);
  background-repeat: repeat-x;
  border-color: #5abaed;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5ABAED', endColorstr='#5ABAED', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
  color: #ffffff;
  background-color: #5abaed;
  *background-color: #003bb3;
}

.btn-orange {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ff8400;
  *background-color: #ff8400;
  background-image: -moz-linear-gradient(top, #ff8400, #ff8400);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ff8400),
    to(#ff8400)
  );
  background-image: -webkit-linear-gradient(top, #ff8400, #ff8400);
  background-image: -o-linear-gradient(top, #ff8400, #ff8400);
  background-image: linear-gradient(to bottom, #ff8400, #ff8400);
  background-repeat: repeat-x;
  border-color: #ff8400;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF8400', endColorstr='#FF8400', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.btn-orange.disabled,
.btn-orange[disabled] {
  color: #ffffff;
  background-color: #ff8400;
  *background-color: #003bb3;
}

.btn-green {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4bcc37;
  *background-color: #4bcc37;
  background-image: -moz-linear-gradient(top, #4bcc37, #4bcc37);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#4bcc37),
    to(#4bcc37)
  );
  background-image: -webkit-linear-gradient(top, #4bcc37, #4bcc37);
  background-image: -o-linear-gradient(top, #4bcc37, #4bcc37);
  background-image: linear-gradient(to bottom, #4bcc37, #4bcc37);
  background-repeat: repeat-x;
  border-color: #4bcc37;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4BCC37', endColorstr='#4BCC37', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  color: #ffffff;
  background-color: #4bcc37;
  *background-color: #003bb3;
}

.btn-gray {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #7a7878;
  *background-color: #7a7878;
  background-image: -moz-linear-gradient(top, #616161, #7a7878);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#616161),
    to(#7a7878)
  );
  background-image: -webkit-linear-gradient(top, #616161, #7a7878);
  background-image: -o-linear-gradient(top, #616161, #7a7878);
  background-image: linear-gradient(to bottom, #616161, #7a7878);
  background-repeat: repeat-x;
  border-color: #7a7878;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#7A7878', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.btn-gray.disabled,
.btn-gray[disabled] {
  color: #ffffff;
  background-color: #7a7878;
  *background-color: #003bb3;
}

.btn-rlegend {
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f5c6cb;
  *background-color: #f5c6cb;
  background-image: -moz-linear-gradient(top, #f5c6cb, #f5c6cb);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#f5c6cb),
    to(#f5c6cb)
  );
  background-image: -webkit-linear-gradient(top, #f5c6cb, #f5c6cb);
  background-image: -o-linear-gradient(top, #f5c6cb, #f5c6cb);
  background-image: linear-gradient(to bottom, #f5c6cb, #f5c6cb);
  background-repeat: repeat-x;
  border-color: #f5c6cb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5C6CB', endColorstr='#F5C6CB', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-rlegend:hover,
.btn-rlegend:focus,
.btn-rlegend:active,
.btn-rlegend.active,
.btn-rlegend.disabled,
.btn-rlegend[disabled] {
  color: #000000;
  background-color: #f5c6cb;
  *background-color: #003bb3;
}

.btn-glegend {
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #c3e6cb;
  *background-color: #c3e6cb;
  background-image: -moz-linear-gradient(top, #c3e6cb, #c3e6cb);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#c3e6cb),
    to(#c3e6cb)
  );
  background-image: -webkit-linear-gradient(top, #c3e6cb, #c3e6cb);
  background-image: -o-linear-gradient(top, #c3e6cb, #c3e6cb);
  background-image: linear-gradient(to bottom, #c3e6cb, #c3e6cb);
  background-repeat: repeat-x;
  border-color: #c3e6cb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C3E6CB', endColorstr='#C3E6CB', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-glegend:hover,
.btn-glegend:focus,
.btn-glegend:active,
.btn-glegend.active,
.btn-glegend.disabled,
.btn-glegend[disabled] {
  color: #000000;
  background-color: #c3e6cb;
  *background-color: #003bb3;
}

.btn-ylegend {
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffeeba;
  *background-color: #ffeeba;
  background-image: -moz-linear-gradient(top, #ffeeba, #ffeeba);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#ffeeba),
    to(#ffeeba)
  );
  background-image: -webkit-linear-gradient(top, #ffeeba, #ffeeba);
  background-image: -o-linear-gradient(top, #ffeeba, #ffeeba);
  background-image: linear-gradient(to bottom, #ffeeba, #ffeeba);
  background-repeat: repeat-x;
  border-color: #ffeeba;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEEBA', endColorstr='#FFEEBA', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-ylegend:hover,
.btn-ylegend:focus,
.btn-ylegend:active,
.btn-ylegend.active,
.btn-ylegend.disabled,
.btn-ylegend[disabled] {
  color: #000000;
  background-color: #ffeeba;
  *background-color: #003bb3;
}

.btn-blegend {
  color: #000000;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #bee5eb;
  *background-color: #bee5eb;
  background-image: -moz-linear-gradient(top, #bee5eb, #bee5eb);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#bee5eb),
    to(#bee5eb)
  );
  background-image: -webkit-linear-gradient(top, #bee5eb, #bee5eb);
  background-image: -o-linear-gradient(top, #bee5eb, #bee5eb);
  background-image: linear-gradient(to bottom, #bee5eb, #bee5eb);
  background-repeat: repeat-x;
  border-color: #bee5eb;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BEE5EB', endColorstr='#BEE5EB', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-blegend:hover,
.btn-blegend:focus,
.btn-blegend:active,
.btn-blegend.active,
.btn-blegend.disabled,
.btn-blegend[disabled] {
  color: #000000;
  background-color: #bee5eb;
  *background-color: #003bb3;
}
.btn-red {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #bd1b2e;
  *background-color: #bd1b2e;
  background-image: -moz-linear-gradient(top, #bd1b2e, #bd1b2e);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#bd1b2e),
    to(#bd1b2e)
  );
  background-image: -webkit-linear-gradient(top, #bd1b2e, #bd1b2e);
  background-image: -o-linear-gradient(top, #bd1b2e, #bd1b2e);
  background-image: linear-gradient(to bottom, #bd1b2e, #bd1b2e);
  background-repeat: repeat-x;
  border-color: #bd1b2e;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BD1B2E', endColorstr='#BD1B2E', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.btn-red.disabled,
.btn-red[disabled] {
  color: #ffffff;
  background-color: #bd1b2e;
  *background-color: #003bb3;
}

.btn-dblue {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0c83c4;
  *background-color: #0c83c4;
  background-image: -moz-linear-gradient(top, #0c83c4, #0c83c4);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#0c83c4),
    to(#0c83c4)
  );
  background-image: -webkit-linear-gradient(top, #0c83c4, #0c83c4);
  background-image: -o-linear-gradient(top, #0c83c4, #0c83c4);
  background-image: linear-gradient(to bottom, #0c83c4, #0c83c4);
  background-repeat: repeat-x;
  border-color: #0c83c4;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C83C4', endColorstr='#0C83C4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-dblue:hover,
.btn-dblue:focus,
.btn-dblue:active,
.btn-dblue.active,
.btn-dblue.disabled,
.btn-dblue[disabled] {
  color: #ffffff;
  background-color: #0c83c4;
  *background-color: #003bb3;
}
/* END button LIBRARY */
.accordion {
  background-color: #e8e8e8;
  color: #444;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: #444;
  outline: #444;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 10px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}
textarea {
  width: 100%;
}

input[type="text"] {
  width: 95%;
  box-sizing: border-box;
  height: 25px;
}
input[type="text_2"] {
  width: 80%;
  box-sizing: border-box;
  height: 25px;
}
