<table border="1" class="form-table" width="100%">
    <tr>
        <td colspan="2" class="form-header">
            <center>
                <h2>
                    STEP 2 - Justification
                </h2>
                <h3>
                    Submit proposal summary for initial review.
                </h3>
                <div>
                    Complete the required fields and submit a Proposal Summary (summarizing justification and scope).  Once this step is submitted for review, your college Curriculum Facilitator (CF) will receive an automated email notification and will guide you through the process.
                </div>

            </center>
        </td>
    </tr>

    <tr>
        <td width="70%" style="padding-top:30px">

            <table>
                <tr>
                    <td class="form-label">

                        <div
                            ng-show="d.step1.selectType == 'New Course' || d.step1.selectType == 'Changes to Existing Course'">
                            <span
                                title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters. Sample Course Name and Number: ENG 101.">
                                <i class="fa fa-question-circle"></i>
                                Course Name and Number:</div>
                        <div
                            ng-hide="d.step1.selectType == 'New Course' || d.step1.selectType == 'Changes to Existing Course'">
                            <span
                                title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters. Sample Program Name: BC-Web Development.">
                                <i class="fa fa-question-circle"></i>
                                Program Name:</div>

                        </span>

                    </td>
                    <td>
                        <span
                            title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters.">
                            <input disabled type="text" name="" id="" ng-model="d.step1.pacctitle"
                                ng-class="{'required-field': !d.step1.pacctitle}">
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        Assigned To CF:
                    </td>
                    <td>
                        <!-- <input type="text" name="" id=""> -->
                        {{d.curriculumFacilitator}}
                        ( {{d.curriculumFacilitatorEMail}} )
                    </td>
                </tr>


                <!-- <tr>
                    <td class="form-label">Due Date for this Task:
                    </td>
                    <td> <input type="text" name="" id="" datepicker ng-model="d.step2.duedate">
                        <i class="fa fa-calendar"></i>

                        <div class="error">
                            This is the date that this task is due. You will receive reminders if you have not
                            completed this task
                            by the above date. You can change the date if necessary.
                        </div>
                    </td>
                </tr> -->

                <tr>
                    <td class="form-label">
                        Proposal Scope:
                    </td>
                    <td>
                        <textarea name="" id="" cols="60" rows="5" ng-model="d.step2.proposalScope"
                            ng-class="{'required-field': !d.step2.proposalScope}"></textarea>
                    </td>
                </tr>


                <tr>
                    <td class="form-label">Expected Semester for Offering:</td>
                    <td>
                        {{d.step2.choiceSemester}}
                        <div style="margin-top:10px;margin-bottom:10px">
                            <i>
                                This is an approximate date. If your proposal only requires internal review, you may be
                                able to offer the course or program sooner. If your proposal requires external review,
                                it may take additional time before you will be able to offer the course or program.
                            </i>
                        </div>
                        <br>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        <span
                            title="If it is currentrly offered at more than one college, select all that apply. If not select no college.">
                            <i class="fa fa-question-circle"></i>
                            Is the course or program offered at a sister college?

                            <br>(5-digit ICCB College number)
                    </td>
                    <td style="vertical-align: top">
                        <!-- <div ng-class="{'required-field': !d.step2.offerAll}"
                            ng-hide="d.step2.offerOther || d.step2.offerDA  || d.step2.offerHW  || d.step2.offerKK  || d.step2.offerMX  || d.step2.offerOH  || d.step2.offerTR  || d.step2.offerWR">
                            <input type="checkbox" name="" id="offerAll" value="yes" ng-model="d.step2.offerAll"><label
                                for="offerAll">Offered District Wide</label>
                        </div> -->
                        <div
                            ng-class="{'required-field': !d.step2.offerDA && !d.step2.offerHW && !d.step2.offerKK && !d.step2.offerMX && !d.step2.offerOH && !d.step2.offerTR && !d.step2.offerWR}">
                            <!-- ng-hide="d.step2.offerOther || d.step2.offerAll" -->

                            <input type="checkbox" name="" id="offerDA" ng-model="d.step2.offerDA"
                                ng-disabled="d.step1.selectCollege == 'DA'"><label for="offerDA">DA
                                (50806)</label>
                            <br>
                            <input type="checkbox" name="" id="offerHW" ng-model="d.step2.offerHW"
                                ng-disabled="d.step1.selectCollege == 'HW'"><label for="offerHW">HW
                                (50802)</label>
                            <br>
                            <input type="checkbox" name="" id="offerKK" ng-model="d.step2.offerKK"
                                ng-disabled="d.step1.selectCollege == 'KK'"><label for="offerKK">KK
                                (50801)</label>
                            <br>
                            <input type="checkbox" name="" id="offerMX" ng-model="d.step2.offerMX"
                                ng-disabled="d.step1.selectCollege == 'MX'"><label for="offerMX">MX
                                (50803)</label>
                            <br>
                            <input type="checkbox" name="" id="offerOH" ng-model="d.step2.offerOH"
                                ng-disabled="d.step1.selectCollege == 'OH'"><label for="offerOH">OH
                                (50805)</label>
                            <br>
                            <input type="checkbox" name="" id="offerTR" ng-model="d.step2.offerTR"
                                ng-disabled="d.step1.selectCollege == 'TR'"><label for="offerTR">TR
                                (50804)</label>
                            <br>
                            <input type="checkbox" name="" id="offerWR" ng-model="d.step2.offerWR"
                                ng-disabled="d.step1.selectCollege == 'WR'"><label for="offerWR">WR
                                (50807)</label>
                            <br>
                        </div>
                        <!-- <div ng-class="{'required-field': !d.step2.offerOther}"
                            ng-hide="d.step2.offerAll || d.step2.offerDA  || d.step2.offerHW  || d.step2.offerKK  || d.step2.offerMX  || d.step2.offerOH  || d.step2.offerTR  || d.step2.offerWR">
                            <input type="checkbox" name="" id="offerOther" value="yes"
                                ng-model="d.step2.offerOther"><label for="offerOther">Not offered at any sister
                                college</label>
                        </div> -->

                    </td>
                </tr>


                <tr>
                    <td class="form-label">ICCB Course Classification & Funding - PCS Code:</td>
                    <td>
                        <select name="" id="" ng-options="x for x in choiceICCB" ng-model="d.step2.selectICCB"
                            ng-class="{'required-field': !d.step2.selectICCB}"></select>

                    </td>
                </tr>


                <tr>
                    <td class="form-label">Illinois Career Cluster:</td>
                    <td>

                        <select name="" id="" ng-options="x for x in choiceICC" ng-model="d.step2.selectICC"
                            ng-class="{'required-field': !d.step2.selectICC}"></select>

                    </td>
                </tr>

                <tr>
                    <td class="form-label">CCC Focus Area:</td>
                    <td>
                        <select name="" id="" ng-options="x for x in choiceFocus" ng-model="d.step2.selectFocus"
                            ng-class="{'required-field': !d.step2.selectFocus}"></select>

                    </td>
                </tr>

                <tr>
                    <td class="form-label">PA Comments:</td>
                    <td>
                        <textarea name="" id="" cols="60" rows="5" ng-model="d.step1.comments"></textarea>
                    </td>
                </tr>


                <tr>
                    <td class="form-label">CF Comments:</td>
                    <td>
                        <textarea name="" id="" cols="60" rows="5" ng-model="d.step1.cfcomment"
                            ng-disabled="!currentCF()"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color:lightblue">
                        <b>
                            Approval
                        </b>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-weight:bold">Step 2 Recommenders
                    </td>

                </tr>

                <!-- CF -->
                <tr ng-hide="isPA()">
                    <td class="form-label">
                        <span style="white-space: nowrap">
                            <span
                                title="Select your Curriculum Facilitator that will be supportive and knowledgeable of this proposal.">
                                <i class="fa fa-question-circle"></i>
                                Curriculum Facilitator:
                            </span>
                        </span>
                        <br>

                    </td>
                    <td>

                        <input type="text" name="" id="" ng-model="d.step2.cfpeople">
                        <div ng-hide="isPA()">
                            <br>
                            Required Comment:
                            <br>
                            <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.cfcomment"
                                ng-class="{'required-field': !d.step2.cfcomment}"></textarea>
                            <br>
                            Recommendation:
                            <div ng-hide="d.step2.CF">
                                <button ng-disabled="!d.step2.cfcomment" class="btn-success"
                                    ng-click="step2vote('CF','Accept')">YES - Move to next step</button>
                                <button ng-disabled="!d.step2.cfcomment" class="btn-successminor"
                                    ng-click="step2vote('CF','AcceptMinor')">YES - Conditionally move to next
                                    step</button>
                                <button ng-disabled="!d.step2.cfcomment" class="btn-error"
                                    ng-click="step2vote('CF','Not')" title="Proposal returns to step 1">
                                    <i class="fa fa-save"></i>
                                    NO – Needs further discussion
                                </button>
                            </div>
                            <div ng-hide="!d.step2.cfcomment" class="vote">
                                <img src="https://cccedu.sharepoint.edu/_layouts/images/check.gif" alt="">
                                {{d.step2.CF}}
                                <a ng-click="undostep2('CF')">(Change Recommendation)</a>
                            </div>
                        </div>
                        <br>
                        <br>
                    </td>
                </tr>

                <!-- VP -->
                <tr ng-hide="isPA()">
                    <td class="form-label">
                        <span style="white-space: nowrap">
                            <span
                                title="Select your Vice President that will be supportive and knowledgeable of this proposal.">
                                <i class="fa fa-question-circle"></i>
                                Vice President:
                            </span>
                        </span>
                        <br>

                    </td>
                    <td>

                        <input type="text" name="" id="" ng-model="d.step2.vppeople">
                        <div ng-hide="isPA()">
                            <br>
                            Required Comment:
                            <br>
                            <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.vpcomment"
                                ng-class="{'required-field': !d.step2.vpcomment}"></textarea>
                            <br>
                            Recommendation:
                            <div ng-hide="d.step2.VP">
                                <button ng-disabled="!d.step2.vpcomment" class="btn-success"
                                    ng-click="step2vote('VP','Accept')">YES - Move to next step</button>
                                <button ng-disabled="!d.step2.vpcomment" class="btn-successminor"
                                    ng-click="step2vote('VP','AcceptMinor')">YES - Conditionally move to next
                                    step</button>
                                <button ng-disabled="!d.step2.vpcomment" class="btn-error"
                                    ng-click="step2vote('VP','Not')" title="Proposal returns to step 1">
                                    <i class="fa fa-save"></i>
                                    NO – Needs further discussion
                                </button>
                            </div>
                            <div ng-hide="!d.step2.vpcomment" class="vote">
                                <img src="https://cccedu.sharepoint.edu/_layouts/images/check.gif" alt="">
                                {{d.step2.VP}}
                                <a ng-click="undostep2('VP')">(Change Recommendation)</a>
                            </div>
                        </div>
                        <br>
                        <br>
                    </td>
                </tr>

                <!-- Designee -->
                <tr>
                    <td class="form-label">
                        <span style="white-space: nowrap">
                            <span
                                title="Select your Department Chair or an Academic Discipline Designee across the District that will be supportive and knowledgeable of this proposal.">
                                <i class="fa fa-question-circle"></i>
                                Academic or Department Discipline Designee:
                            </span>
                        </span>
                        <br>

                    </td>
                    <td>

                        <input type="text" name="" id="" ng-model="d.step2.designeepeople">
                        <div ng-hide="isPA()">
                            <br>
                            Required Comment:
                            <br>
                            <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.designee"
                                ng-class="{'required-field': !d.step2.designee}"></textarea>
                            <br>
                            Recommendation:
                            <div ng-hide="d.step2.DES">
                                <button ng-disabled="!d.step2.designee" class="btn-success"
                                    ng-click="step2vote('DES','Accept')">YES - Move to next step</button>
                                <button ng-disabled="!d.step2.designee" class="btn-successminor"
                                    ng-click="step2vote('DES','AcceptMinor')">YES - Conditionally move to next
                                    step</button>
                                <button ng-disabled="!d.step2.designee" class="btn-error"
                                    ng-click="step2vote('DES','Not')" title="Proposal returns to step 1">
                                    <i class="fa fa-save"></i>
                                    NO – Needs further discussion
                                </button>
                            </div>
                            <div ng-hide="!d.step2.DES" class="vote">
                                <img src="https://cccedu.sharepoint.edu/_layouts/images/check.gif" alt="">
                                {{d.step2.DES}}
                                <a ng-click="undostep2('DES')">(Change Recommendation)</a>
                            </div>
                        </div>
                        <br>
                        <br>
                    </td>
                </tr>

            </table>

        </td>
        <td width="30%" style="padding-top:30px;padding-left:20px">


            <div class="form-label" style="text-align: left">Attach Supportive Documentation:<div>
                    <div class="help-text">
                        Documentation is optional at this step.
                        See PACC Supportive Documentation Folder for PACC Documentation Guidelines PDF in Document
                        Library.
                    </div>

                    <div ng-show="!id">
                        <div
                            style="background-color:lightblue; border:1px; border-color: black; padding:5px; margin-top:10px;">

                            Please save PACC Proposal <button class="btn-warn" ng-click="save()">
                                <i class="fa fa-save"></i>
                                Save
                            </button> to begin attaching supportive documentation.
                            <br>
                        </div>

                    </div>


                    <!-- File Upload -->
                    <div ng-show="id">
                        <div class="help-text">
                            <br>
                            Click "Choose File" to select file. Once file is selected, click "Upload" to complete the
                            process.
                            You can only upload one file at a time.
                        </div>
                        <table class="upload-table">
                            <tr>
                                <td><input type="file" name="uploadFile" id="uploadFile" class="btn-upload"
                                        style="padding-left:3px; padding-top:3px;"></td>
                                <td>
                                    <button ng-click="upload()" class="btn-upload">
                                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                    </button></td>
                            </tr>
                        </table>


                        <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            View Folder
                        </button>

                        <!-- File Table -->
                        <table class="table-files" ng-show="uploadFiles.length">
                            <tr>
                                <td>Icon</td>
                                <td>Filename</td>
                                <td>Created</td>
                            </tr>
                            <tr ng-repeat="f in uploadFiles">
                                <td>
                                    <img ng-src="{{getIcon(f.Name)}}" alt="" />
                                </td>
                                <td>
                                    <a href="{{f.ServerRelativeUrl}}">{{f.Name}}</a>


                                </td>
                                <td>{{f.TimeCreated.substring(0,10)}}</td>
                            </tr>
                        </table>
                    </div>
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td colspan="2" style="text-align: center">

            <br>

            <button class="btn-upload" ng-click="close()">
                <i class="fa fa-times-circle"></i>
                Close Form
            </button>
            <button class="btn-warn" ng-click="save()" ng-hide="isPA()">
                <i class="fa fa-save"></i>
                Save
            </button>
            <button class="btn-warn" ng-click="save(null, 'close')" title="This will save your proposal with all data" ng-hide="isPA()">
                <i class="fa fa-save"></i>
                Save and Close
            </button>
            <button class="btn-warn" ng-click="submit(1, false, 'tabled')" ng-show="currentCF()"
                title="Proposal dormant">
                <i class="fa fa-save"></i>
                Table
            </button>
            <button class="btn-success" ng-click="submit(1.1, true, 'submit')"
                title="Submit to CF for Review and exit the proposal."
                ng-disabled="d.curriculumFacilitatorEMail == currentUser.Email || notValid()">
                <i class="fa fa-arrow-circle-right"></i>
                Save and Submit to Curriculum Facilitator for Review
            </button>
            <br>
            <br>
        </td>
    </tr>
</table>