<table border="0" class="form-table" ng-hide="hidestep11">
    <tr>
        <td colspan="2" class="form-header">

            <div ng-show="currentCF()">
                <h2>
                    CF Review
                </h2>
                Add comments below and recommend next step when ready.
            </div>


            <div ng-hide="currentCF()">
                <h2>
                    Step 1 Successfully Initiated
                </h2>


                Thank you for submitting your proposal. You have completed Step 1 of the process. Your Curriculum
                Facilitator, <b>{{d.curriculumFacilitator}}</b>, has been notified via email of your proposal, and will
                proceed to review and recommend within the next two weeks.
                <br>
                You will receive an automated email informing you of the next action to take based on your Curriculum
                Facilitator’s recommendation.

                <br>

            </div>

            <br>
            <br>
            <br>


            <div ng-hide="!currentCF() && !d.step1.cfcomment">
                <h3>CF Comments:</h3>
            </div>

            <textarea name="" id="" cols="60" rows="5" style="margin-top:10px;" ng-model="d.step1.cfcomment"
                ng-disabled="!currentCF()" ng-hide="!currentCF() && !d.step1.cfcomment"></textarea>
            <br>
            <br>

            Click close to return to PACC homepage.
            <br>

            <!-- Buttons -->
            <button class="btn-error" ng-click="close()" title="Close the proposal.">
                <i class="fa fa-times-circle"></i>
                Close Form
            </button>

            <button class="btn-warn" ng-show="currentCF()" ng-click="save()" title="Save the current data.">
                <i class="fa fa-save"></i>
                Save
            </button>

            <button class="btn-success" ng-click="submit(2, true)" ng-show="currentCF()" title="Save data and recommend as acceptable to next step.">
                <i class="fa fa-save"></i>
                Acceptable
            </button>


            <button class="btn-orange" ng-click="submit(1, false, 'notaccept')" ng-show="currentCF()" title="Save data and recommend as not acceptable to next step.">
                <i class="fa fa-save"></i>
                Not Acceptable
            </button>


            <button class="btn-warn" ng-click="submit(1, false, 'tabled')" ng-show="currentCF()" title="Data is saved and the proposal is tabled (let’s make the button red).">
                <i class="fa fa-save"></i>
                Table
            </button>

     

            <!-- DATA -->




        </td>

    </tr>

    <tr>
        <td width="70%" style="padding-top:30px">


            <table>
                <tr>
                    <td class="form-label">
                        Principal Advocate:
                    </td>
                    <td>
                        <!-- <input type="text" name="" id="" ng-model="d.step1.advocate" ng-class="{'required-field': !d.step1.advocate}"> -->
                        {{d.step1.advocateTitle}}  (<a href="mailto:{{d.step1.advocateEmail}}">{{d.step1.advocateEmail}}</a>)
                    </td>
                </tr>
                <tr>
                    <td class="form-label">

                        <span title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters.">
                            <i class="fa fa-question-circle"></i></span>

                        Tentative PACC Proposal Title:

                    </td>
                    <td>

                        {{d.step1.pacctitle}}
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Your College: {{d.step1.selectCollege}}</td>

                </tr>


                <tr>
                    <td class="form-label">Your Curriculum Facilitator:</td>
                    <td>
                        <div ng-show="d.curriculumFacilitator">
                            {{d.curriculumFacilitator}} (<a href="mailto:{{d.curriculumFacilitatorEMail}}">{{d.curriculumFacilitatorEMail}}</a>)
                        </div>

                    </td>
                </tr>

                <tr>
                    <td class="form-label">

                        <span title="Provide a statement indicating the reason for this PACC Proposal. Rationale should include intent of course/program; students for whom the course and/or program is expected to serve; and relationship of the program and/or courses to existing curricula at the college.">
                            <i class="fa fa-question-circle"></i></span>

                        Rationale:
                        <div class="help-text">
                        </div>
                    </td>
                    <td>
                        <!-- angular-with-newlines -->
                        <div >
                            {{d.step1.rationale}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Proposal Type:</td>
                    <td>
                        {{d.step1.selectProposal}}
                    </td>
                </tr>

                <tr>
                    <td class="form-label">
                        <span title="You may enter comments here regarding your proposal. The Curriculum Facilitator will see these comments.">
                            <i class="fa fa-question-circle"></i></span>
                        Comments:
                        <div class="help-text">

                        </div>
                    </td>
                    <td>

                    </td>
                </tr>

            </table>

        </td>
        <td width="30%" style="padding-top:30px;padding-left:20px">


            <div class="form-label" style="text-align: left">Supportive Documentation Attached:<div>
                    <div class="help-text">

                    </div>

                    <div ng-show="!id">
                        <div style="background-color:lightblue; border:1px; border-color: black; padding:5px; margin-top:10px;">

                            Please save PACC Proposal <button class="btn-warn" ng-click="save()">
                                <i class="fa fa-save"></i>
                                Save
                            </button> to begin attaching supportive documentation.
                            <br>
                        </div>
                    </div>


                    <!-- File Upload -->
                    <div ng-show="id">


                        <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            View Folder
                        </button>

                        <!-- File Table -->
                        <table class="table-files" ng-show="uploadFiles.length">
                            <tr>
                                <td>Icon</td>
                                <td>Filename</td>
                                <td>Created</td>
                            </tr>
                            <tr ng-repeat="f in uploadFiles">
                                <td>
                                    <img ng-src="{{getIcon(f.Name)}}" alt="" />
                                </td>
                                <td>
                                    <a href="{{f.ServerRelativeUrl}}">{{f.Name}}</a>


                                </td>
                                <td>{{f.TimeCreated.substring(0,10)}}</td>
                            </tr>
                        </table>
                    </div>
        </td>
    </tr>
</table>