<table border="1" class="form-table" width="100%">
    <tr>
        <td colspan="2" class="form-header">
            <center>
                <h2>
                    STEP 4.2 - JCDC Members
                </h2>


                <h3>

                </h3>

            </center>

        </td>
    </tr>

    <tr>
        <td width="70%" style="padding-top:30px">

            <table>
                <!-- <tr>
                    <td class="form-label">
                        Assigned To:
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Due Date for this task:
                        <div class="help-text">
                            Insert a tracking title for administrative purposes. The PA or CF can change the title
                            during Step 2.
                            Provide a simple title, not a description of the proposal.
                        </div>
                    </td>
                    <td>
                        <input type="text" name="" id="" datepicker ng-model="d.step3.due">
                        <i class="fa fa-calendar"></i>
                        <div class="error">
                            This is the date that this task is due. You will receive reminders if you have not
                            completed this task
                            by the above date. You can change the date if necessary.
                        </div>
                    </td>
                </tr> -->
                <!-- <tr>
                    <td class="form-label">JCDC Comments:</td>
                    <td>
                        <textarea name="" id="" cols="60" rows="5" ng-model="d.step41.dcfComments"></textarea>
                        <br>
                        
                    </td>
                </tr -->

                <tr>
                    <td class="form-label">

                        <div
                            ng-show="d.step1.selectType == 'New Course' || d.step1.selectType == 'Changes to Existing Course'">
                            <span
                                title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters. Sample Course Name and Number: ENG 101.">
                                <i class="fa fa-question-circle"></i>
                                Course Name and Number:</div>
                        <div
                            ng-hide="d.step1.selectType == 'New Course' || d.step1.selectType == 'Changes to Existing Course'">
                            <span
                                title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters. Sample Program Name: BC-Web Development.">
                                <i class="fa fa-question-circle"></i>
                                Program Name:</div>

                        </span>

                    </td>
                    <td>
                        <span
                            title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters.">
                            <input disabled type="text" name="" id="" ng-model="d.step1.pacctitle"
                                ng-class="{'required-field': !d.step1.pacctitle}">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Approval:</td>
                    <td>


                        <div ng-repeat="reco in recommenders | orderBy: 'sort' : true">

                            <table border="1" style="border:1px solid gray; margin-bottom:15px;"
                                ng-class="{'currentVote' : reco.Recommenders[0].EMail == currentUser.Email}">

                                <tr>
                                    <td style="padding:10px;">


                                        <!-- RO Other User -->
                                        <div ng-hide="reco.Recommenders[0].EMail == currentUser.Email"
                                            class="pacc-vote">
                                            <b>
                                                {{reco.Recommenders[0].Title}}
                                            </b>

                                            (<a
                                                href="mailto:{{reco.Recommenders[0].EMail}}">{{reco.Recommenders[0].EMail}}</a>)</b>
                                            <b>
                                                <br>
                                                Comments:</b>
                                            <br>
                                            <textarea readonly name="" id="" cols="30" rows="2"
                                                ng-model="reco.voteComments"></textarea>
                                            <br>
                                        </div>



                                        <!-- RW Current User -->
                                        <div ng-show="reco.Recommenders[0].EMail == currentUser.Email"
                                            class="pacc-vote">
                                            <b>
                                                {{reco.Recommenders[0].Title}}
                                            </b>

                                            (<a
                                                href="mailto:{{reco.Recommenders[0].EMail}}">{{reco.Recommenders[0].EMail}}</a>)</b>
                                            <b>
                                                <br>
                                                Comments:</b> (required for Recommendation buttons to activate)
                                            <br>
                                            <textarea name="" id="" cols="30" rows="2" ng-model="reco.voteComments"
                                                ng-class="{'required-field': !reco.voteComments}"></textarea>
                                            <br>
                                            <b>
                                                Recommendation:
                                            </b>
                                            <div style="white-space: nowrap">
                                                <button ng-disabled="!reco.voteComments" class="btn-success"
                                                    ng-click="step4vote('CF','Accept', reco)">Acceptable</button>
                                                <button ng-disabled="!reco.voteComments" class="btn-successminor"
                                                    ng-click="step4vote('CF','AcceptMinor', reco)">Acceptable
                                                    w/ Minor Concerns</button>
                                                <button ng-disabled="!reco.voteComments" class="btn-orange"
                                                    ng-click="step4vote('CF','Not', reco)">
                                                    <i class="fa fa-save"></i>
                                                    Not Acceptable
                                                </button>
                                                <br>
                                                <b>
                                                    Reassign:
                                                </b>
                                                <br>
                                                <input type="text" name="" id="" ng-model="reco.reassign">
                                                <button class="btn-upload" ng-click="step4reassign()">Reassign</button>
                                            </div>
                                            <div ng-hide="!d.step4.CF" class="vote">
                                                <img src="https://cccedu.sharepoint.edu/_layouts/images/check.gif"
                                                    alt="">
                                                {{d.step4.CF}}
                                                <a ng-click="undostep4('CF')">(Change Recommendation)</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>



                    </td>
                </tr>



                <!-- <tr>
                    <td class="form-label">My Previous Comments:</td>
                    <td>

                    </td>
                </tr> -->


                <!-- <tr>
                    <td class="form-label">Academic or Department Discipline Designee:</td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td class="form-label">President or VP or Dean or Designee:</td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Curriculum Committee Chairperson:</td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr> -->
            </table>

        </td>
        <td width="30%" style="padding-top:30px;padding-left:20px">


            <div class="form-label" style="text-align: left">Attach Supportive Documentation:<div>
                    <div class="help-text">
                        Documentation is optional at this step.
                        See PACC Supportive Documentation Folder for PACC Documentation Guidelines PDF in Document
                        Library.
                    </div>

                    <div ng-show="!id">
                        <div
                            style="background-color:lightblue; border:1px; border-color: black; padding:5px; margin-top:10px;">

                            Please save PACC Proposal <button class="btn-warn" ng-click="save()">
                                <i class="fa fa-save"></i>
                                Save
                            </button> to begin attaching supportive documentation.
                            <br>
                        </div>

                    </div>


                    <!-- File Upload -->
                    <div ng-show="id">
                        <div class="help-text">
                            <br>
                            Click "Choose File" to select file. Once file is selected, click "Upload" to complete the
                            process.
                            You can only upload one file at a time.
                        </div>
                        <table class="upload-table">
                            <tr>
                                <td><input type="file" name="uploadFile" id="uploadFile" class="btn-upload"
                                        style="padding-left:3px; padding-top:3px;"></td>
                                <td>
                                    <button ng-click="upload()" class="btn-upload">
                                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                    </button></td>
                            </tr>
                        </table>


                        <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            View Folder
                        </button>

                        <!-- File Table -->
                        <table class="table-files" ng-show="uploadFiles.length">
                            <tr>
                                <td>Icon</td>
                                <td>Filename</td>
                                <td>Created</td>
                            </tr>
                            <tr ng-repeat="f in uploadFiles">
                                <td>
                                    <img ng-src="{{getIcon(f.Name)}}" alt="" />
                                </td>
                                <td>
                                    <a href="{{f.ServerRelativeUrl}}">{{f.Name}}</a>


                                </td>
                                <td>{{f.TimeCreated.substring(0,10)}}</td>
                            </tr>
                        </table>
                    </div>
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td colspan="2" style="text-align: center">

            <br>

            <button class="btn-upload" ng-click="close()">
                <i class="fa fa-times-circle"></i>
                Close Form
            </button>
            <button class="btn-warn" ng-click="save()">
                <i class="fa fa-save"></i>
                Save
            </button>
            <button class="btn-warn" ng-click="save(null, 'close')" title="This will save your proposal with all data">
                <i class="fa fa-save"></i>
                Save and Close
            </button>
            <button class="btn-success" ng-click="submit(4.3, true)">
                <i class="fa fa-arrow-circle-right"></i>
                Submit to Post JCDC Decision
            </button>
            <br>
            <br>
        </td>
    </tr>
</table>