<table border="1" class="form-table" width="100%">
    <tr>
        <td colspan="2" class="form-header">
            <center>
                <h2>
                    STEP 7 - New Program CS9 Setup Form
                </h2>

                Once complete, please click Task Complete or change the status to complete.


            </center>

        </td>
    </tr>

    <tr>
        <td width="70%" style="padding-top:30px">
            <table>
                <tr>
                    <td class="form-label">
                        Propoal
                    </td>
                    <td>
                        <a href="">View Recommendations and Comments on this Proposal</a>
                        <br>
                        <a href="">View Workflow History on this Proposal</a>
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Assigned To

                    </td>
                    <td> <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Due Date</td>
                    <td>
                        <input type="text" name="" id="" datepicker ng-model="d.step7.due">
                        <i class="fa fa-calendar"></i>
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Status
                    </td>
                    <td>
                        <select name="" id="" ng-options="x for x in choiceStatusStep7"
                            ng-model="selectStatusStep7"></select>
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Program Number
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Credential
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td class="form-label">Focus Area
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>

                <tr>
                    <td class="form-label">Duration of Program (weeks)
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>

                <tr>
                    <td class="form-label">Plan Minimum Hours
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>

                <tr>
                    <td class="form-label">First Term Valid
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>

                <tr>
                    <td class="form-label">CIP Code
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>


                <tr>
                    <td class="form-label">SOC Code(s)
                    </td>
                    <td>
                        <input type="text" name="" id="">
                    </td>
                </tr>

                <tr>
                    <td> Is this program currently offered at any other City Colleges?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN1">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN1">No
                    </td>
                </tr>
                <tr>
                    <td> Is this program ICCB Approved?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN2">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN2">No

                    </td>
                </tr>

                <tr>
                    <td> Does this program report as an NSC program?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN3">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN3">No
                    </td>
                </tr>


                <tr>
                    <td> Does this program report as an NSC program?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN4">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN4">No
                        <div class="help-text">
                            NSC: National Student Clearinghouse</div>

                    </td>
                </tr>



                <tr>
                    <td> Is this a College to Careers Program?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN5">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN5">No


                    </td>
                </tr>



                <tr>
                    <td> Is this a special admission program?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN6">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN6">No


                    </td>
                </tr>


                <tr>
                    <td> Is this program eligible for financial aid?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN7">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN7">No


                    </td>
                </tr>
                <tr>
                    <td> Is this program approved for financial aid?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN8">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN8">No


                    </td>
                </tr>

                <tr>
                    <td> Is this program required for Gainful Employment disclosure?</td>
                    <td>
                        <input type="radio" name="" id="" value="Y" ng-model="selectYN9">Yes
                        <input type="radio" name="" id="" value="N" ng-model="selectYN9">No
                        <div class="help-text">
                            Gainful Employment: financial aid-eligible Advanced and Basic Certificates
                        </div>

                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        Is there any additional information about this program that District should know about?
                        <br>

                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <textarea name="" id="" cols="60" rows="5"></textarea>
                    </td>

                </tr>
            </table>
        </td>
        <td width="30%" style="padding-top:30px;padding-left:20px">


            <div class="form-label" style="text-align: left">Attach Supportive Documentation:<div>
                    <div class="help-text">
                        Documentation is optional at this step.
                        See PACC Supportive Documentation Folder for PACC Documentation Guidelines PDF in Document
                        Library.
                    </div>

                    <div ng-show="!id">
                        <div
                            style="background-color:lightblue; border:1px; border-color: black; padding:5px; margin-top:10px;">

                            Please save PACC Proposal <button class="btn-warn" ng-click="save()">
                                <i class="fa fa-save"></i>
                                Save
                            </button> to begin attaching supportive documentation.
                            <br>
                        </div>

                    </div>


                    <!-- File Upload -->
                    <div ng-show="id">
                        <div class="help-text">
                            <br>
                            Click "Choose File" to select file. Once file is selected, click "Upload" to complete the
                            process.
                            You can only upload one file at a time.
                        </div>
                        <table class="upload-table">
                            <tr>
                                <td><input type="file" name="uploadFile" id="uploadFile" class="btn-upload"
                                        style="padding-left:3px; padding-top:3px;"></td>
                                <td>
                                    <button ng-click="upload()" class="btn-upload">
                                        <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                    </button></td>
                            </tr>
                        </table>


                        <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            View Folder
                        </button>

                        <!-- File Table -->
                        <table class="table-files" ng-show="uploadFiles.length">
                            <tr>
                                <td>Icon</td>
                                <td>Filename</td>
                                <td>Created</td>
                            </tr>
                            <tr ng-repeat="f in uploadFiles">
                                <td>
                                    <img ng-src="{{getIcon(f.Name)}}" alt="" />
                                </td>
                                <td>
                                    <a href="{{f.ServerRelativeUrl}}">{{f.Name}}</a>


                                </td>
                                <td>{{f.TimeCreated.substring(0,10)}}</td>
                            </tr>
                        </table>
                    </div>
        </td>
    </tr>
</table>

<table width="100%">
    <tr>
        <td colspan="2" style="text-align: center">

            <br>

            <button class="btn-upload" ng-click="close()" title="Close the proposal.">
                <i class="fa fa-times-circle"></i>
                Close Form
            </button>
            <button class="btn-warn" ng-click="save()" title="Save the current data.">
                <i class="fa fa-save"></i>
                Save
            </button>
            <button class="btn-warn" ng-click="save(null, 'close')" title="Save the current data and close the proposal.">
                <i class="fa fa-save"></i>
                Save and Close
            </button>
            <button class="btn-success" ng-click="submit(8, true)">
                <i class="fa fa-arrow-circle-right"></i>
                Save to C9 Support Form
            </button>
            <br>
            <br>
        </td>
    </tr>
</table>