<table border="1" class="form-table pacc-form" width="100%">
    <tr>
        <td colspan="2" class="form-header">
            <center>
                <h2>
                    STEP 2B - INITIATION
                </h2>


                <h3>
                   TBD
                </h3>
               TBD
            </center>

        </td>
    </tr>

    <tr>
        <td width="70%" style="padding-top:30px">

            <table>
                <tr>
                    <td></td>
                    <td style="font-weight:bold">Step 2 Recommenders
                    </td>

                </tr>

                <!-- CF -->
                <tr ng-hide="isPA()">
                    <td class="form-label">
                        <span style="white-space: nowrap">
                            <span
                                title="Select your Curriculum Facilitator that will be supportive and knowledgeable of this proposal.">
                                <i class="fa fa-question-circle"></i>
                                Curriculum Facilitator:
                            </span>
                        </span>
                        <br>

                    </td>
                    <td>

                        <input type="text" name="" id="" ng-model="d.step2.cfpeople">
                        <div ng-hide="isPA()">
                            <br>
                            Required Comment:
                            <br>
                            <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.cfcomment"
                                ng-class="{'required-field': !d.step2.cfcomment}"></textarea>
                            <br>
                            Recommendation:
                            <div ng-hide="d.step2.CF">
                                <button ng-disabled="!d.step2.cfcomment" class="btn-success"
                                    ng-click="step2vote('CF','Accept')">YES
                                    - Move to next step</button>
                                <button ng-disabled="!d.step2.cfcomment" class="btn-successminor"
                                    ng-click="step2vote('CF','AcceptMinor')">YES - Conditionally move to next
                                    step</button>
                                <button ng-disabled="!d.step2.cfcomment" class="btn-error"
                                    ng-click="step2vote('CF','Not')" title="Proposal returns to step 1">
                                    <i class="fa fa-save"></i>
                                    NO – Needs further discussion
                                </button>
                            </div>
                            <div ng-hide="!d.step2.cfcomment" class="vote">
                                <img src="https://cccedu.sharepoint.edu/_layouts/images/check.gif" alt="">
                                {{d.step2.CF}}
                                <a ng-click="undostep2('CF')">(Change Recommendation)</a>
                            </div>
                        </div>
                        <br>
                        <br>
                    </td>
                </tr>

                <!-- VP -->
                <tr ng-hide="isPA()">
                    <td class="form-label">
                        <span style="white-space: nowrap">
                            <span
                                title="Select your Vice President that will be supportive and knowledgeable of this proposal.">
                                <i class="fa fa-question-circle"></i>
                                Vice President:
                            </span>
                        </span>
                        <br>

                    </td>
                    <td>

                        <input type="text" name="" id="" ng-model="d.step2.vppeople">
                        <div ng-hide="isPA()">
                            <br>
                            Required Comment:
                            <br>
                            <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.vpcomment"
                                ng-class="{'required-field': !d.step2.vpcomment}"></textarea>
                            <br>
                            Recommendation:
                            <div ng-hide="d.step2.VP">
                                <button ng-disabled="!d.step2.vpcomment" class="btn-success"
                                    ng-click="step2vote('VP','Accept')">YES
                                    - Move to next step</button>
                                <button ng-disabled="!d.step2.vpcomment" class="btn-successminor"
                                    ng-click="step2vote('VP','AcceptMinor')">YES - Conditionally move to next
                                    step</button>
                                <button ng-disabled="!d.step2.vpcomment" class="btn-error"
                                    ng-click="step2vote('VP','Not')" title="Proposal returns to step 1">
                                    <i class="fa fa-save"></i>
                                    NO – Needs further discussion
                                </button>
                            </div>
                            <div ng-hide="!d.step2.vpcomment" class="vote">
                                <img src="https://cccedu.sharepoint.edu/_layouts/images/check.gif" alt="">
                                {{d.step2.VP}}
                                <a ng-click="undostep2('VP')">(Change Recommendation)</a>
                            </div>
                        </div>
                        <br>
                        <br>
                    </td>
                </tr>

                <!-- Designee -->
                <tr ng-hide="isPA()">
                    <td class="form-label">
                        <span style="white-space: nowrap">
                            <span
                                title="Select your Department Chair or an Academic Discipline Designee across the District that will be supportive and knowledgeable of this proposal.">
                                <i class="fa fa-question-circle"></i>
                                Academic or Department Discipline Designee:
                            </span>
                        </span>
                        <br>

                    </td>
                    <td>

                        <input type="text" name="" id="" ng-model="d.step2.designeepeople">
                        <div ng-hide="isPA()">
                            <br>
                            Required Comment:
                            <br>
                            <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.designee"
                                ng-class="{'required-field': !d.step2.designee}"></textarea>
                            <br>
                            Recommendation:
                            <div ng-hide="d.step2.DES">
                                <button ng-disabled="!d.step2.designee" class="btn-success"
                                    ng-click="step2vote('DES','Accept')">YES
                                    - Move to next step</button>
                                <button ng-disabled="!d.step2.designee" class="btn-successminor"
                                    ng-click="step2vote('DES','AcceptMinor')">YES - Conditionally move to next
                                    step</button>
                                <button ng-disabled="!d.step2.designee" class="btn-error"
                                    ng-click="step2vote('DES','Not')" title="Proposal returns to step 1">
                                    <i class="fa fa-save"></i>
                                    NO – Needs further discussion
                                </button>
                            </div>
                            <div ng-hide="!d.step2.DES" class="vote">
                                <img src="https://cccedu.sharepoint.edu/_layouts/images/check.gif" alt="">
                                {{d.step2.DES}}
                                <a ng-click="undostep2('DES')">(Change Recommendation)</a>
                            </div>
                        </div>
                        <br>
                        <br>
                    </td>
                </tr>

            </table>

        </td>
        <td width="30%" style="padding-top:30px;padding-left:20px">

            <p>
                This space reserved for attachment of supportive documentation. After you submit this proposal to your
                curriculum facilitator, a folder will be created to upload supportive documentation starting at Step 2.
            </p>
        </td>
    </tr>
</table>



<div ng-hide="isReadOnly()">
    <center>
        <button ng-hide="id" class="btn-error" ng-click="cancel('cancel')"
            title="Cancel the current data and delete the proposal.">
            <i class="fa fa-times-circle"></i>
            Cancel Proposal
        </button>

        <button ng-show="id" class="btn-upload" ng-click="close()">
            <i class="fa fa-times-circle"></i>
            Close Form
        </button>

        <button class="btn-warn" ng-click="save()" title="Save the current data." ng-hide="isPA()">
            <i class="fa fa-save"></i>
            Save
        </button>
        <button class="btn-warn" ng-click="save(null, 'close')"
            title="Save the current data and submit to your CF for review." ng-hide="isPA()">
            <i class="fa fa-save"></i>
            Save and Close
        </button>
        <button class="btn-success" ng-hide="id" ng-click="submit(1.1, true, 'submit')"
            title="Submit to CF for Review and exit the proposal."
            ng-disabled="d.curriculumFacilitatorEMail == currentUser.Email || notValid()">
            <i class="fa fa-arrow-circle-right"></i>
            Save and Submit to Curriculum Facilitator for Review
        </button>
    </center>
</div>
<div ng-show="isReadOnly()">
    <center>
        <button class="btn-upload" ng-click="close()" title="Cancel all data-proposal will not be saved.">
            <i class="fa fa-times-circle"></i>
            Close Form
        </button>
    </center>
</div>
<br>
<center>
    <div class="error" ng-show="d.curriculumFacilitatorEMail == currentUser.Email || notValid()">
        Please complete all required fields in order to Save and Submit to Curriculum Facilitator.
    </div>
</center>
<br>
<br>