<h2>ACH Information</h2>

<table>

    <tr>
        <td>Business Name</td>
        <td>
            <input type="text" name="" id="" ng-model="d.ach.businessName">
        </td>
    </tr>
    <tr>
        <td>Business Phone</td>
        <td>
            <input type="text" name="" id="" ng-model="d.ach.businessPhone">
        </td>
    </tr>

    <tr>
        <td>
            <h3>ACH Limits</h3>
        </td>
    </tr>
    <tr>
        <td>Credit Origination Amount</td>
        <td>
            <input type="text" name="" id="" ng-model="d.ach.textCredit">
        </td>
        <td></td>
        <td>Debit Origination Amount</td>
        <td>
            <input type="text" name="" id="" ng-model="d.ach.textDebit">
        </td>
    </tr>
    <tr>
        <td>Frequency</td>
        <td><select name="" id="" ng-model="d.ach.selectFreqCredit" ng-options="x for x in choiceFreq"></select></td>
        <td></td>
        <td>Frequency</td>
        <td><select name="" id="" ng-model="d.ach.selectFreqDebit" ng-options="x for x in choiceFreq"></select></td>
    </tr>
    <tr>
        <td>Type</td>
        <td>
            <input type="radio" name="creditType" id="creditType1" ng-model="d.ach.typeCredit" value="standard"><label for="creditType1">Standard</label>
            <input type="radio" name="creditType" id="creditType2" ng-model="d.ach.typeCredit" value="prefund"><label for="creditType2">Prefund</label>
        </td>
        <td></td>
        <td>Type</td>
        <td>Standard Only</td>
    </tr>

</table>


</table>

<br><br>

<table border="1">
    <tr>
        <td>Account Number</td>
        <td>SEC Code(s)</td>
    </tr>
    <tr ng-repeat="r in d.ach.rowsAch">
        <td>
            <input type="text" name="" id="" ng-model="r.acct">
        </td>
        <td>
            <input type="checkbox" name="" id="CCD" ng-model="r.CCDDebit">
            <label for="CCD">CCD</label>
            <input type="checkbox" name="" id="PPD" ng-model="r.PPDDebit">
            <label for="PPD">PPD</label>
            <input type="checkbox" name="" id="CTX" ng-model="r.CTXDebit">
            <label for="CTX">CTX</label>
            <input type="checkbox" name="" id="WEB" ng-model="r.WEBDebit">
            <label for="WEB">WEB</label>
            <input type="checkbox" name="" id="TEL" ng-model="r.TELDebit">
            <label for="TEL">TEL</label>

        </td>
        <td>
            <i class="fa fa-minus-circle" ng-click="deleteRow('ach.rowsAch', $index)">Remove</i>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <i class="fa fa-plus-circle" ng-click="addRow('ach.rowsAch')">Add</i>
        </td>
    </tr>
</table>



<br><br>

<h4>Definitions of SEC Codes:</h4>
<ul>
    <li>CCD= Cash Concentration Disbursement entries to a corporate account</li>
    <li>PPD= Predetermined payment or deposits to a consumer (personal) account</li>
    <li>CTX= Corporate Trade Exchange - transactions that include EDI information</li>
    <li>WEB= Web initiated entry - Electronic authorization through the internet to create an ACH entry</li>
    <li>TEL= Telephone initiated entry - Verbal authorization by telephone to issue an ACH entry such as check by
        phone</li>
</ul>