<h2>
    Repo Sweep
</h2>

<table>
    <tr>
        <td colspan="2" class="fmb-form-section">1. General Information Required
        </td>
    </tr>


    <tr>
        <td>Company</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.company"></td>

    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.address"></td>
        <td>City State Zip</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.citystate"></td>
    </tr>
    <tr>
        <td>Phone #</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.phone"></td>
        <td>Fax #</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.fax"></td>
    </tr>
    <tr>
        <td>Tax ID</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.tax"></td>
        <td>Email Address</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.email"></td>
    </tr>
    <tr>
        <td>Branch #</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.branch"></td>
        <td>Treasury Manager / Account Officer</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.treasurymanager"></td>
    </tr>

    <tr>
        <td colspan="2" class="fmb-form-section">2. Transfer Information Required
        </td>
    </tr>

    <tr>
        <td>Institutional Cash Management Account #</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.icash"></td>
    </tr>
    <tr>
        <td>Target Balance Amount</td>
        <td><input type="text" name="" id="" ng-model="d.reposweep.targetbalance"></td>
    </tr>

    <tr>
        <td colspan="2" class="fmb-form-section">3. To be completed by Treasury
        </td>
    </tr>


    <tr>
        <td>Repurchase Agreement #</td>
        <td>
            <input type="text" name="" id="" ng-model="d.reposweep.repoagreement">
        </td>
    </tr>
    <tr>
        <td>Issue Date</td>
        <td> <input type="text" datepicker name="" id="" ng-model="d.reposweep.issue"></td>
        <td>Rate</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.rate"></td>
        <td>Term</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.term"></td>
    </tr>
    <tr>
        <td>Maturity</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.maturity"></td>
        <td>Text Field</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.txtfield"></td>
        <td>Interest Plan</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.intplan"></td>
    </tr>
    <tr>
        <td>Acct Type</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.accttype"></td>
        <td>Dep. Cat.</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.depcat"></td>
        <td>Int. Freq.</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.intreq"></td>
    </tr>
    <tr>
        <td>Renewal</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.renewal"></td>
        <td>Pymt Method</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.pymtmethod"></td>
        <td>Transfer Acct #</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.transferacct"></td>
    </tr>
    <tr>
        <td>User Code</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.usercode1"></td>
        <td>User Code</td>
        <td> <input type="text" name="" id="" ng-model="d.reposweep.usercode2"></td>
    </tr>
</table>