<h2>Corporate Resolution</h2>

<h3>
    Banking Resolution
</h3>

<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.corpRes.substatus" ng-options="x for x in choiceSubstatus"></select>
        </td>
    </tr>
    <tr>
        <td>Name of Organization:
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.start.companyName" size="50" disabled>
        </td>
    </tr>
    <tr>
        <td>State of Organization:
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.start.selectState" disabled>
        </td>
    </tr>
    <tr>
        <td>Type of Entity:
        </td>
        <td>
            <select name="" id="" ng-model="d.start.selectTypeEntity" ng-options="x for x in choiceTypeEntity" disabled></select>
        </td>
    </tr>
</table>


<h3>
    Designated Authorities
</h3>

<table border="1">
    <tr>
        <td colspan="2"></td>
        <td colspan="3" style="text-align: center">
            <div class="fmb-error">
                Check One in each column only
            </div>
        </td>
    </tr>
    <tr style="text-align:center">
        <td>Name</td>
        <td>Title</td>
        <td>Withdrawls</td>
        <td>Transfers</td>
        <td>Additional</td>
    </tr>
    <tr ng-repeat="r in d.corpRes.corpResAuth">
        <td>
            <input type="text" name="" id="" ng-model="r.name" size="50">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.title">
        </td>
        <td>
            <input type="radio" name="withdrawl{{$index}}" id="" value="Yes" ng-model="r.withdrawl" value="Yes"> Yes
            <input type="radio" name="withdrawl{{$index}}" id="" value="No" ng-model="r.withdrawl" value="No"> No
        </td>
        <td>
            <input type="radio" name="transfer{{$index}}" id="" value="Singly" ng-model="r.transfer" value="Singly">
            Singly
            <input type="radio" name="transfer{{$index}}" id="" value="Jointly" ng-model="r.transfer" value="Jointly">
            Jointly
            <input type="radio" name="transfer{{$index}}" id="" value="No" ng-model="r.transfer" value="No"> No
        </td>
        <td>
            <input type="radio" name="addl{{$index}}" id="" value="Singly" ng-model="r.addl" value="Singly"> Singly
            <input type="radio" name="addl{{$index}}" id="" value="Jointly" ng-model="r.addl" value="Jointly"> Jointly
            <input type="radio" name="addl{{$index}}" id="" value="No" ng-model="r.addl" value="No"> No
        </td>
        <td>
            <i class="fas fa-minus-circle" ng-click="deleteRow('corpRes.corpResAuth', $index)">&nbsp;Remove</i>
        </td>
    </tr>
    <tr>
        <td>
            <i class="fas fa-plus-circle" ng-click="addRow('corpRes.corpResAuth')">&nbsp;Add</i>
        </td>
    </tr>
</table>