<h2>
    Daylight Overdraft
</h2>

<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.daylight.substatus" ng-options="x for x in choiceSubstatus"></select>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="fmb-form-section">1. General Information Required
        </td>
    </tr>


    <tr>
        <td>Company</td>
        <td><input type="text" name="" id="" ng-model="d.start.companyName" disabled></td>

    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="" id="" ng-model="d.daylight.address"></td>
        <td>City State Zip</td>
        <td><input type="text" name="" id="" ng-model="d.daylight.citystate"></td>
    </tr>
    <tr>
        <td>Phone #</td>
        <td><input type="text" name="" id="" ng-model="d.daylight.phone"></td>
        <td>Fax #</td>
        <td><input type="text" name="" id="" ng-model="d.daylight.fax"></td>
    </tr>
    <tr>
        <td>Tax ID</td>
        <td><input type="text" name="" id="" ng-model="d.start.companyTIN" maxlength="9" size="10" disabled></td>
        <td>E-mail Address</td>
        <td><input type="text" name="" id="" ng-model="d.daylight.email"></td>
    </tr>
    <tr>
        <td>Branch #</td>
        <td><input type="text" name="" id="" ng-model="d.daylight.branch"></td>
        <td>Treasury Manager / Account Officer</td>
        <td><input type="text" name="" id="" ng-model="d.start.tmo" disabled></td>
    </tr>

    <tr>
        <td colspan="2" class="fmb-form-section">2. Account Information / Account Setup Required
        </td>
    </tr>

    <tr>
        <td style="vertical-align:top">DDA Account(s) #</td>
        <td>
            <div ng-repeat="r in d.daylight.accts">
                <input type="text" name="" id="" ng-model="r.dda">
                <i class="fas fa-minus-circle" ng-click="deleteRow('daylight.accts', $index)">Remove</i>
            </div>
            <div>
                <i class="fas fa-plus-circle" ng-click="d.daylight.accts.push({})"></i>
                <span ng-click="d.daylight.accts.push({})">Add</span>
            </div>

        </td>
    </tr>
    <tr>
        <td>Daylight OD Limit:</td>
        <td><input type="text" name="" id="" ng-model="d.daylight.odlimit"></td>
    </tr>




</table>