<h2>Return Item Services</h2>

<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.returnitem.substatus" ng-options="x for x in choiceSubstatus"></select>
        </td>
    </tr>
    <tr>
        <td>Company:</td>
        <td><input type="text" name="" id="" ng-model="d.start.companyName" disabled></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><input type="text" name="" id="" ng-model="d.returnitem.address"></td>
    </tr>
    <tr>
        <td>City/State/Zip:</td>
        <td><input type="text" name="" id="" ng-model="d.returnitem.city"></td>
    </tr>
    <tr>
        <td>Phone #:</td>
        <td><input type="text" name="" id="" ng-model="d.returnitem.phone"></td>
    </tr>
    <tr>
        <td>Fax #:</td>
        <td><input type="text" name="" id="" ng-model="d.returnitem.fax"></td>
    </tr>
    <tr>
        <td>Tax ID:</td>
        <td><input type="text" name="" id="" ng-model="d.start.companyTIN" maxlength="9" size="10" disabled></td>
    </tr>
    <tr>
        <td>Email address:</td>
        <td><input type="text" name="" id="" ng-model="d.returnitem.email"></td>
    </tr>
    <tr>
        <td>Treasury Management/Account Officer:</td>
        <td><input type="text" name="" id="" ng-model="d.start.tmo" disabled></td>
    </tr>

</table>


<h2>Account Information / Account Setup Required
</h2>

<table>
    <tr ng-repeat="r in d.returnitem.returnItemAccounts">
        <td><input type="text" name="" id="" ng-model="r.acctInfo"></td>
        <td>
            <i class="fa fa-minus-circle" ng-click="deleteRow('returnitem.returnItemAccounts', $index)">Remove</i>
        </td>
    </tr>
    <tr>
        <td>
            <i class="fa fa-plus-circle" ng-click="addRow('returnitem.returnItemAccounts')">Add</i>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>

<h2>Security Administrator Name(s):</h2>

<table>
    <tr>
        <td>Name</td>
        <td>Account(s)</td>
    </tr>
    <tr ng-repeat="r in d.returnitem.returnItemSecurity">
        <td><input type="text" name="" id="" ng-model="r.name"></td>
        <td><input type="text" name="" id="" ng-model="r.account"></td>
        <td>
            <i class="fa fa-minus-circle" ng-click="deleteRow('returnitem.returnItemSecurity', $index)">Remove</i>
        </td>
    </tr>
    <tr>
        <td>
            <i class="fa fa-plus-circle" ng-click="addRow('returnitem.returnItemSecurity')">Add</i>
        </td>
    </tr>
</table>

<h2>Users:

</h2>

<table>
    <tr ng-repeat="r in d.returnitem.returnItemUsers">
        <td><input type="text" name="" id="" ng-model="r.users"></td>
        <td>
            <i class="fa fa-minus-circle" ng-click="deleteRow('returnitem.returnItemUsers', $index)">Remove</i>
        </td>
    </tr>
    <tr>
        <td>
            <i class="fa fa-plus-circle" ng-click="addRow('returnitem.returnItemUsers')">Add</i>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
</table>