<div ng-hide="saveHide">
    <table border="1" class="form-table pacc-form" width="100%">
        <tr>
            <td colspan="2" class="form-header">
                <center>
                    <h2>
                        STEP 3 - DEVELOPMENT
                    </h2>
                    <h3>
                        College Development and Review
                    </h3>
                    <div>
                        Complete the required fields and submit a Proposal Rationale (summarizing feasibility,
                        curriculum, and cost).
                        Once this step is submitted for review, your college Curriculum Facilitator (CF) will receive an
                        automated email notification and will guide you through the process.
                    </div>

                </center>

            </td>
        </tr>

        <tr>
            <td width="70%" style="padding-top:30px;padding-right:10px;">

                <table>
                    <!-- CF -->
                    <tr ng-show="isCF()">
                        <td class="form-label">
                            <span style="white-space: nowrap">
                                <span
                                    title="Select your Curriculum Facilitator that will be supportive and knowledgeable of this proposal.">
                                    <i class="fa fa-question-circle"></i>
                                    Curriculum Facilitator:
                                </span>
                            </span>
                            <br>

                        </td>
                        <td>
                            {{d.curriculumFacilitatorEMail}}
                            <div ng-hide="isPA()">
                                <br>
                                Required Comment:

                                <br>
                                <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.cfcomment"
                                    ng-class="{'required-field': !d.step2.cfcomment}"
                                    ng-disabled="d.step2.cfpeople != d.currentUser.Email"></textarea>
                                <br>
                                Recommendation:
                                <div ng-hide="d.step2.CF">
                                    <button ng-disabled="!d.step2.cfcomment"
                                        ng-class="(d.step2.cfcomment) ? 'btn-success' : 'btn-gray'"
                                        ng-click="step2vote('CF','Accept')">YES
                                        - Move to next step</button>
                                    <button ng-disabled="!d.step2.cfcomment"
                                        ng-class="(d.step2.cfcomment) ? 'btn-successminor' : 'btn-gray'"
                                        ng-click="step2vote('CF','AcceptMinor')">YES - Conditionally move to next
                                        step</button>
                                    <button ng-disabled="!d.step2.cfcomment"
                                        ng-class="(d.step2.cfcomment) ? 'btn-error' : 'btn-gray'"
                                        ng-click="step2vote('CF','Not')" title="Proposal returns to step 1">
                                        <i class="fa fa-save"></i>
                                        NO – Needs further discussion
                                    </button>
                                </div>
                                <div ng-hide="!d.step2.cfcomment" class="vote">
                                    <i class="fa fa=check"></i>
                                    {{d.step2.CF}}
                                    <a ng-click="undostep2('CF')" ng-show="d.step2.CF">(Change Recommendation)</a>
                                </div>
                            </div>
                            <br>
                            <br>
                        </td>
                    </tr>

                    <!-- VP -->
                    <tr ng-show="isVP()">
                        <td class="form-label">
                            <span style="white-space: nowrap">
                                <span
                                    title="Select your Vice President that will be supportive and knowledgeable of this proposal.">
                                    <i class="fa fa-question-circle"></i>
                                    Vice President:
                                </span>
                            </span>
                            <br>

                        </td>
                        <td>

                            {{d.vpEMail}}
                            <div ng-hide="isPA()">
                                <br>
                                Required Comment:
                                <br>
                                <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.vpcomment"
                                    ng-class="{'required-field': !d.step2.vpcomment}"></textarea>
                                <br>
                                Recommendation:
                                <div ng-hide="d.step2.VP">
                                    <button ng-disabled="!d.step2.vpcomment"
                                        ng-class="(d.step2.vpcomment) ? 'btn-success' : 'btn-gray'"
                                        ng-click="step2vote('VP','Accept')">YES
                                        - Move to next step</button>
                                    <button ng-disabled="!d.step2.vpcomment"
                                        ng-class="(d.step2.vpcomment) ? 'btn-success' : 'btn-gray'"
                                        ng-click="step2vote('VP','AcceptMinor')">YES - Conditionally move to next
                                        step</button>
                                    <button ng-disabled="!d.step2.vpcomment"
                                        ng-class="(d.step2.vpcomment) ? 'btn-error' : 'btn-gray'"
                                        ng-click="step2vote('VP','Not')" title="Proposal returns to step 1">
                                        <i class="fa fa-save"></i>
                                        NO – Needs further discussion
                                    </button>
                                </div>
                                <div ng-hide="!d.step2.vpcomment" class="vote">
                                    <i class="fa fa=check"></i>
                                    {{d.step2.VP}}
                                    <a ng-click="undostep2('VP')" ng-show="d.step2.VP">(Change Recommendation)</a>
                                </div>
                            </div>
                            <br>
                            <br>
                        </td>
                    </tr>

                    <!-- Designee -->
                    <tr ng-show="isDD()">
                        <td class="form-label">
                            <span style="white-space: nowrap">
                                <span
                                    title="Select your Department Chair or an Academic Discipline Designee across the District that will be supportive and knowledgeable of this proposal.">
                                    <i class="fa fa-question-circle"></i>
                                    Academic or Department Discipline Designee:
                                </span>
                            </span>
                            <br>

                        </td>
                        <td>

                            {{d.ddEMail}}
                            <div ng-hide="isPA()">
                                <br>
                                Required Comment:
                                <br>
                                <textarea name="" id="" cols="30" rows="2" ng-model="d.step2.designee"
                                    ng-class="{'required-field': !d.step2.designee}"></textarea>
                                <br>
                                Recommendation:
                                <div ng-hide="d.step2.DES">
                                    <button ng-disabled="!d.step2.designee"
                                        ng-class="(d.step2.designee) ? 'btn-success' : 'btn-gray'"
                                        ng-click="step2vote('DES','Accept')">YES
                                        - Move to next step</button>
                                    <button ng-disabled="!d.step2.designee"
                                        ng-class="(d.step2.designee) ? 'btn-success' : 'btn-gray'"
                                        ng-click="step2vote('DES','AcceptMinor')">YES - Conditionally move to next
                                        step</button>
                                    <button ng-disabled="!d.step2.designee"
                                        ng-class="(d.step2.designee) ? 'btn-error' : 'btn-gray'"
                                        ng-click="step2vote('DES','Not')" title="Proposal returns to step 1">
                                        <i class="fa fa-save"></i>
                                        NO – Needs further discussion
                                    </button>
                                </div>
                                <div ng-hide="!d.step2.DES" class="vote">
                                    <i class="fa fa=check"></i>
                                    {{d.step2.DES}}
                                    <a ng-click="undostep2('DES')" ng-show="d.step2.DD">(Change Recommendation)</a>
                                </div>
                            </div>
                            <br>
                            <br>
                        </td>
                    </tr>

                </table>

            </td>
            <td width="30%" style="padding-top:30px;padding-left:20px">


                <div ng-hide="isPA()">
                    <div class="form-label" style="text-align: left">Attach Supportive Documentation:<div>

                            <div class="error">Review uploaded documentation through Step 2.</div>

                            <div class="help-text">
                                You may begin to upload documentaton to assist the
                                Principal Advocate through the upcoming steps of this
                                proposal.
                            </div>

                            <div ng-show="!id">
                                <div
                                    style="background-color:lightblue; border:1px; border-color: black; padding:5px; margin-top:10px;">

                                    Please save PACC Proposal <button class="btn-warn" ng-click="save()">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button> to begin attaching supportive documentation.
                                    <br>
                                </div>

                            </div>


                            <!-- File Upload -->
                            <div ng-show="id">
                                <div class="help-text">
                                    <br>
                                    Click "Choose File" to select file. Once file is selected, click "Upload" to
                                    complete
                                    the
                                    process.
                                    You can only upload one file at a time.
                                </div>

                                <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                    View Folder
                                </button>

                            </div>
                        </div>
                    </div>



            </td>
        </tr>
    </table>

    <!-- Buttons -->
    <div>
        <center>
            <button ng-show="id" class="btn-upload" ng-click="close()">
                <i class="fa fa-times-circle"></i>
                Close Form
            </button>
            <div ng-hide="isReadOnly()">

                <button class="btn-warn" ng-click="save(null, 'close')"
                    title="Save the current data and submit to your CF for review." ng-hide="isPA()">
                    <i class="fa fa-save"></i>
                    Save and Close
                </button>
                <button class="btn-success" ng-hide="id" ng-click="submit(1.1, true, 'submit')"
                    title="Submit to CF for Review and exit the proposal."
                    ng-disabled="d.curriculumFacilitatorEMail == currentUser.Email || notValid()">
                    <i class="fa fa-arrow-circle-right"></i>
                    Save and Submit to Curriculum Facilitator for Review
                </button>


                <div class="error" ng-show="d.curriculumFacilitatorEMail == currentUser.Email || notValid()">
                    Please complete all required fields in order to Save and Submit to Curriculum Facilitator.
                </div>
            </div>
        </center>
    </div>
</div>