<table border="1" class="form-table pacc-form" width="100%">
    <tr>
        <td colspan="2" class="form-header">
            <center>
                <h2>
                    STEP 1 - INITIATION
                </h2>


                <h3>
                    Initiate a PACC Proposal
                </h3>
                By completing the required fields and submitting this form you are initiating a Proposed Academic
                Curriculum Change (PACC) process.
                <br />
                You are designating yourself as the Principal Advocate (PA) of this PACC Proposal.
                <br />
                Once this step is submitted for review, your college Curriculum Facilitator (CF) will receive an
                automated email notification and will guide you through the process.
            </center>

        </td>
    </tr>

    <tr>
        <td colspan="2" class="btn-warn" ng-show="d.step1.type == 'tabled'">
            <center>
                Tabled
            </center>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="btn-orange" ng-show="d.step1.type == 'notaccept'">
            <center>
                Not Acceptable
            </center>
        </td>
    </tr>


    <tr>
        <td width="70%" style="padding-top:30px">

            <table>
                <tr>
                    <td class="form-label">
                        Principal Advocate:
                    </td>
                    <td>
                        {{d.step1.advocateTitle}} (<a
                            href="mailto:{{d.step1.advocateEmail}}">{{d.step1.advocateEmail}}</a>)
                    </td>
                </tr>

                <tr>
                    <td class="form-label">

                        <span
                            title="Please select the type of PACC proposal. Refer to PACC documentation for options and requirements.">
                            <i class="fa fa-question-circle"></i>

                            Type of PACC Proposal:</td>
                    <td>

                        <select name="" id="" ng-options="x for x in choiceType" ng-model="d.step1.selectType"
                            ng-class="{'required-field': !d.step1.selectType}"></select>

                    </td>
                </tr>

                <tr>
                    <td class="form-label">



                        <div
                            ng-show="d.step1.selectType == 'New Course' || d.step1.selectType == 'Changes to Existing Course'">
                            <span
                                title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 40 characters. Sample Course Name and Number: ENG 101.">
                                <i class="fa fa-question-circle"></i>
                                Course Name and Number:</div>
                        <div
                            ng-hide="d.step1.selectType == 'New Course' || d.step1.selectType == 'Changes to Existing Course'">
                            <span
                                title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 40 characters. Sample Program Name: BC-Web Development.">
                                <i class="fa fa-question-circle"></i>
                                Program Name:</div>

                        </span>

                    </td>
                    <td>
                        <span
                            title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 40 characters.">
                            <input type="text" name="" id="" ng-model="d.step1.pacctitle"
                                ng-class="{'required-field': !d.step1.pacctitle}" ng-disabled="isReadOnly()"
                                maxlength="40">
                        </span>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">

                        <span
                            title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal.">
                            <i class="fa fa-question-circle"></i>

                            PACC Proposal Description:
                        </span>
                    </td>
                    <td>
                        <textarea name="" id="" cols="30" rows="2" ng-model="d.step1.paccdesc"
                            ng-disabled="isReadOnly()"></textarea>
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <div style="width:400px; padding:5px; margin-bottom:20px;background-color: orange; color:white"
                            ng-show="(d.step1.advocateEmail == d.curriculumFacilitatorEMail) || d.showAlternate">
                            As the Principal Advocate of this proposal you cannot be the Curriculum Facilitator. The
                            Alternate Curriculum Facilitator listed below will assist you with this proposal. </div>
                    </td>

                </tr>
                <tr>
                    <td class="form-label">Your College:</td>
                    <td>
                        <select name="" id="" ng-options="x for x in choiceCollege" ng-model="d.step1.selectCollege"
                            ng-change="changeCollege()" ng-class="{'required-field': !d.step1.selectCollege}"
                            ng-disabled="isReadOnly()"></select>
                    </td>
                </tr>




                <tr>
                    <td class="form-label">Your Curriculum Facilitator:</td>
                    <td>
                        <div ng-show="d.curriculumFacilitator">
                            {{d.curriculumFacilitator}} (
                            <a href="mailto:{{d.curriculumFacilitatorEMail}}">{{d.curriculumFacilitatorEMail}}</a>
                            )
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="form-label">Discipline Related to this PACC Proposal:</td>
                    <td>
                        <select name="" id="" ng-model="d.step1.discipline"
                            ng-options="x.Title as x.Title for x in disciplineLiaisons"
                            ng-class="{'required-field': !d.step1.discipline}" ng-disabled="isReadOnly()"></select>

                    </td>
                </tr>

                <tr>
                    <td class="form-label">Discipline Liaison:</td>
                    <td>
                        <div ng-show="d.step1.discipline">
                            {{getLiason()[0].Liaison[0].Title}}
                            (
                            <a href="mailto:{{getLiason()[0].Liaison[0].Name.replace('i:0#.f|membership','')}}">
                                {{getLiason()[0].Liaison[0].Name.replace('i:0#.f|membership','')}}
                            </a>
                            )
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form-label">
                        <span
                            title="You may enter comments here regarding your proposal. The Curriculum Facilitator will see these comments.">
                            <i class="fa fa-question-circle"></i>
                            PA Comments:</span>
                        <div class="help-text">

                        </div>
                    </td>
                    <td>
                        <span
                            title="You may enter comments here regarding your proposal. The Curriculum Facilitator will see these comments.">
                            <textarea name="" id="" cols="60" rows="5" ng-model="d.step1.comments"
                                ng-disabled="isReadOnly()"></textarea>
                        </span>
                    </td>
                </tr>

                <tr ng-show="currentUser.Email == d.curriculumFacilitatorEMail && vm.id">
                    <td class="form-label">
                        <span title="">
                            CF Comments:</span>
                        <div class="help-text">

                        </div>
                    </td>
                    <td>
                        <span title="">
                            <textarea name="" id="" cols="60" rows="5" ng-model="d.step1.cfcomment"
                                ng-disabled="isReadOnly()"></textarea>
                        </span>
                    </td>
                </tr>

            </table>
            <br>
            <br>
        </td>
        <td width="30%" style="padding-top:30px;padding-left:20px">

            <p>
                This space reserved for attachment of supportive documentation. After you submit this proposal to your
                curriculum facilitator, a folder will be created to upload supportive documentation starting at Step 2.
            </p>
        </td>
    </tr>
</table>


<div ng-hide="isReadOnly()">
    <center>
        <button ng-hide="id" class="btn-error" ng-click="cancel('cancel')"
            title="Cancel the current data and delete the proposal.">
            <i class="fa fa-times-circle"></i>
            Cancel Proposal
        </button>

        <button ng-show="id" class="btn-upload" ng-click="close()">
            <i class="fa fa-times-circle"></i>
            Close Form
        </button>

        <button class="btn-warn" ng-click="save()" title="Save the current data." ng-hide="isPA()">
            <i class="fa fa-save"></i>
            Save
        </button>
        <button class="btn-warn" ng-click="save(null, 'close')"
            title="Save the current data and submit to your CF for review." ng-hide="isPA()">
            <i class="fa fa-save"></i>
            Save and Close
        </button>
        <button class="btn-success" ng-hide="id" ng-click="submit(1.1, true, 'submit')"
            title="Submit to CF for Review and exit the proposal."
            ng-disabled="d.curriculumFacilitatorEMail == currentUser.Email || notValid()">
            <i class="fa fa-arrow-circle-right"></i>
            Save and Submit to Curriculum Facilitator for Review
        </button>
    </center>
</div>
<div ng-show="isReadOnly()">
    <center>
        <button class="btn-upload" ng-click="close()" title="Cancel all data-proposal will not be saved.">
            <i class="fa fa-times-circle"></i>
            Close Form
        </button>
    </center>
</div>
<br>
<center>
    <div class="error" ng-show="d.curriculumFacilitatorEMail == currentUser.Email || notValid()">
        Please complete all required fields in order to Save and Submit to Curriculum Facilitator.
    </div>
</center>
<br>
<br>
