<div ng-hide="saveHide">
    <table border="1" class="form-table" width="100%">
        <tr>
            <td colspan="2" class="form-header">
                <center>
                    <h2>
                        STEP 4 – INTERNAL APPROVAL
                    </h2>


                    <h3>
                        District‐wide Development and Review
                    </h3>
                    JCDC 1st Reading
                    <br>
                    Review all the steps of this proposal and the supportive documentation. Submit the appropriate
                    recommendation for this first reading.
                    <br>
                    Automated email notifications will be sent based on your actions.

                </center>

            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding-bottom: 20px">



                <!-- Buttons -->
                <div>
                    <center>
                        <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                            <i class="fa fa-folder" aria-hidden="true"></i>
                            View Folder
                        </button>
                        <button class="btn-upload" ng-click="close()">
                            <i class="fa fa-times-circle"></i>
                            Close Form
                        </button>
                        <button class="btn-warn" ng-click="submit(4.2, false, 'reco')" title="Save the current data."
                            ng-hide="isPA()">
                            <i class="fa fa-save"></i>
                            Save
                        </button>


                        <div ng-show="!majorityMet() || !majorityMet()">

                            <!-- DCF and DO vote to move step 5 -->

                            <button ng-show="!d.step4.DCFvote" class="btn-warn" ng-click="step4voteDCFDO('DCF')">
                                Recommend to Step 5 (DCF)
                            </button>
                            <button ng-show="d.step4.DCFvote" class="btn-success" ng-click="step4voteDCFDO('DCF')">
                                    <i class="fa fa-check"></i>
                                Recommend to Step 5 (DCF)
                            </button>

                            <button ng-show="!d.step4.DOvote" class="btn-warn" ng-click="step4voteDCFDO('DO')">
                                Recommend to Step 5 (DO)
                            </button>
                            <button ng-show="d.step4.DOvote" class="btn-success" ng-click="step4voteDCFDO('DO')">
                                    <i class="fa fa-check"></i>
                                Recommend to Step 5 (DO)
                            </button>




                            <button class="btn-success" ng-show="d.step4.DCFvote && d.step4.DOvote"
                                ng-click="submit(5, true, 'next')">
                                <i class="fa fa-arrow-circle-right"></i>
                                Submit to Step 5
                            </button>
                        </div>

                        <div ng-hide="isReadOnly()">
                            <button class="btn-success" ng-show="((isDCF() || isDO())&& voteAllowStep4())"
                                ng-click="submit(5, true, 'next')">
                                <i class="fa fa-arrow-circle-right"></i>
                                Submit to Step 5
                            </button>
                            <button class="btn-warn" ng-click="submit(4.1, false, 'tabled')" ng-show="currentCF()"
                                title="Proposal dormant">
                                <i class="fa fa-save"></i>
                                Table
                            </button>


                        </div>
                    </center>
                </div>




            </td>
        </tr>

        <tr>
            <td>
                <table style="padding-left:10px;" width="100%">
                    <tr>
                        <td colspan="2">
                            <center>
                                <div ng-show="quorumMet()" class="pacc-vote-green">
                                    Proposal Meets All Quorum Requirements</div>
                                <div ng-hide="quorumMet()" class="pacc-vote-yellow">
                                    Proposal DOES NOT Meets Quorum Requirements
                                </div>
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>Minimum 5 Colleges/DO Represented:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteColleges() >= 5, 'pacc-vote-yellow' : voteColleges() < 5}">
                            {{voteColleges()}}</td>
                    </tr>
                    <tr>
                        <td>
                            Minimum 1 Vice‐President Represented:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteTotalJobTitle('Vice President') >= 1, 'pacc-vote-yellow' : voteTotalJobTitle('Vice President') < 1}">
                            {{voteTotalJobTitle('Vice President')}}
                        </td>
                    </tr>
                    <tr>
                        <td>Minimum 1 Curriculum Facilitator Represented:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteTotalJobTitle('Curriculum Facilitator') >= 1, 'pacc-vote-yellow' : voteTotalJobTitle('Curriculum Facilitator') < 1}">
                            {{voteTotalJobTitle('Curriculum Facilitator')}}
                        </td>
                    </tr>
                    <tr>
                        <td>Minimum 1 Curriculum Committee Chairpersons Represented:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteTotalJobTitle('Curriculum Committee Chair') >= 1, 'pacc-vote-yellow' : voteTotalJobTitle('Curriculum Committee Chair') < 1}">
                            {{voteTotalJobTitle('Curriculum Committee Chair')}}
                        </td>
                    </tr>
                    <tr>
                        <td>Minimum 1 DO or District Curriculum Facilitator Represented:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteTotalDCF() >= 1, 'pacc-vote-yellow' : voteTotalDCF() < 1}">
                            {{voteTotalDCF()}}</td>
                    </tr>
                    <tr>
                        <td>Minimum 12 JCDC Members:</td>
                        <td ng-class="{'pacc-vote-green' : voteTotal() >= 12, 'pacc-vote-yellow' : voteTotal() < 12}">
                            {{voteTotal()}}</td>
                    </tr>
                    <tr>
                        <td>Minimum 8 Acceptable Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : (voteAccept('Accept') + voteAccept('AcceptMinor')) >= 8, 'pacc-vote-yellow' : (voteAccept('Accept') + voteAccept('AcceptMinor')) < 8}">
                            {{voteAccept('Accept') + voteAccept('AcceptMinor')}}
                        </td>
                    </tr>
                    <tr ng-show="d.step2.offerDA">
                        <td>Participating College (<b>DA</b>) Minimum 2 Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteParticipatingCollege('DA') >= 2, 'pacc-vote-yellow' : voteParticipatingCollege('DA') < 2}">
                            {{voteParticipatingCollege('DA')}}</td>
                    </tr>
                    <tr ng-show="d.step2.offerHW">
                        <td>Participating College (<b>HW</b>) Minimum 2 Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteParticipatingCollege('HW') >= 2, 'pacc-vote-yellow' : voteParticipatingCollege('HW') < 2}">
                            {{voteParticipatingCollege('HW')}}</td>
                    </tr>
                    <tr ng-show="d.step2.offerKK">
                        <td>Participating College (<b>KK</b>) Minimum 2 Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteParticipatingCollege('KK') >= 2, 'pacc-vote-yellow' : voteParticipatingCollege('KK') < 2}">
                            {{voteParticipatingCollege('KK')}}</td>
                    </tr>
                    <tr ng-show="d.step2.offerMX">
                        <td>Participating College (<b>MX</b>) Minimum 2 Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteParticipatingCollege('MX') >= 2, 'pacc-vote-yellow' : voteParticipatingCollege('MX') < 2}">
                            {{voteParticipatingCollege('MX')}}</td>
                    </tr>
                    <tr ng-show="d.step2.offerOH">
                        <td>Participating College (<b>OH</b>) Minimum 2 Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteParticipatingCollege('OH') >= 2, 'pacc-vote-yellow' : voteParticipatingCollege('OH') < 2}">
                            {{voteParticipatingCollege('OH')}}</td>
                    </tr>
                    <tr ng-show="d.step2.offerTR">
                        <td>Participating College (<b>TR</b>) Minimum 2 Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteParticipatingCollege('TR') >= 2, 'pacc-vote-yellow' : voteParticipatingCollege('TR') < 2}">
                            {{voteParticipatingCollege('TR')}}</td>
                    </tr>
                    <tr ng-show="d.step2.offerWR">
                        <td>Participating College (<b>WR</b>) Minimum 2 Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : voteParticipatingCollege('WR') >= 2, 'pacc-vote-yellow' : voteParticipatingCollege('WR') < 2}">
                            {{voteParticipatingCollege('WR')}}</td>
                    </tr>
                </table>

            </td>
            <td>

                <table style="padding-left:10px;" width="100%">
                    <tr>
                        <td colspan="2">
                            <center>
                                <div ng-show="majorityMet()" class="pacc-vote-green">
                                    Proposal Meets Acceptable Majority</div>
                                <div ng-hide="majorityMet()" class="pacc-vote-yellow">
                                    Proposal DOES NOT Meets Acceptable Majority
                                </div>
                            </center>
                        </td>
                    </tr>

                    <tr>
                        <td>Total Acceptable Recommendations:</td>
                        <td
                            ng-class="{'pacc-vote-green' : (voteAccept('Accept') + voteAccept('AcceptMinor')) >= 12, 'pacc-vote-yellow' : (voteAccept('Accept') + voteAccept('AcceptMinor')) < 12}">
                            {{voteAccept('Accept') + voteAccept('AcceptMinor')}}</td>
                    </tr>

                    <tr>
                        <td>Total Not Acceptable Recommendations:</td>
                        <td class="pacc-vote-yellow">
                            {{voteAccept('Not')}}</td>
                    </tr>

                </table>

            </td>
        </tr>

        <tr>

            <td class="form-label" style="vertical-align: top">PA Comments:
                <textarea name="" id="" cols="60" rows="5" ng-model="d.step4.pacComments43"></textarea>
                <br>
            </td>


            <td class="form-label" style="vertical-align: top">DCF Comments:
                <textarea name="" id="" cols="60" rows="5" ng-model="d.step4.dcfComments43"></textarea>
                <br>

            </td>
        </tr>

        <tr>
            <td width="50%" style="padding-top:30px; padding-left:20px">
                <center>
                    <div ng-repeat="reco in d.recommendersA | orderBy: 'sort' : true">

                        <table border="1" style="border:1px solid gray; margin-bottom:15px;"
                            ng-class="{'currentVote' : reco.Recommenders[0].EMail == currentUser.UserPrincipalName}">

                            <tr>
                                <td style="padding:10px;">

                                    <input type="text" ng-model="reco.recovote">


                                    <!-- RO Other User -->
                                    <div ng-hide="reco.Recommenders[0].EMail == currentUser.UserPrincipalName"
                                        class="pacc-vote">

                                        <b>
                                            {{reco.Recommenders[0].Title}}
                                        </b>

                                        (<a
                                            href="mailto:{{reco.Recommenders[0].EMail}}">{{reco.Recommenders[0].EMail}}</a>)</b>
                                        <b>
                                            <br>
                                            College : {{reco.College}}
                                            <br>
                                            Title: {{reco.Title}}
                                            <br>
                                            Comments:</b>
                                        <br>
                                        <textarea readonly name="" id="" cols="30" rows="2"
                                            ng-model="reco.voteComments"></textarea>
                                        <br>
                                    </div>



                                    <!-- RW Current User -->
                                    <div ng-show="reco.Recommenders[0].EMail == currentUser.UserPrincipalName"
                                        class="pacc-vote">

                                        <b>
                                            {{reco.Recommenders[0].Title}}
                                        </b>

                                        (<a
                                            href="mailto:{{reco.Recommenders[0].EMail}}">{{reco.Recommenders[0].EMail}}</a>)</b>
                                        <b>
                                            <br>
                                            Comments:</b> (required for Recommendation buttons to activate)
                                        <br>
                                        <textarea name="" id="" cols="30" rows="2" ng-model="reco.voteComments"
                                            ng-class="{'required-field': !reco.voteComments}"></textarea>
                                        <br>
                                        <b>
                                            College: {{reco.College}}
                                        </b>
                                        <br>

                                        Title: {{reco.Title}}
                                        <br>
                                        <b>
                                            Recommendation: {{reco.recovote}}
                                        </b>
                                        <div style="white-space: nowrap">
                                            <div ng-show="!reco.recovote">
                                                <button ng-disabled="!reco.voteComments" class="btn-success"
                                                    ng-click="step4vote('A', reco,'Accept')">Acceptable</button>
                                                <button ng-disabled="!reco.voteComments" class="btn-successminor"
                                                    ng-click="step4vote('A', reco,'AcceptMinor')">Acceptable
                                                    w/ Minor Concerns</button>
                                                <button ng-disabled="!reco.voteComments" class="btn-orange"
                                                    ng-click="step4vote('A', reco,'Not')">
                                                    <i class="fa fa-save"></i>
                                                    Not Acceptable
                                                </button>
                                            </div>
                                            <div ng-show="reco.recovote">
                                                {{reco.recovote}}
                                                <a href="javascript:void(0)" ng-click="step4unvote(reco)">(Change
                                                    Recommendation)</a>
                                            </div>
                                            <br>
                                            <b>
                                                Reassign:
                                            </b>
                                            <br>
                                            <input type="text" name="" id="" ng-model="reco.reassign">
                                            <button class="btn-upload" ng-click="step4reassign()">Reassign</button>
                                        </div>
                                        <div ng-hide="!d.step4.CF" class="vote">
                                            <i class="fa fa=check"></i>
                                            alt="">
                                            {{d.step4.CF}}
                                            <a ng-click="undostep4('CF')">(Change Recommendation)</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </center>

            </td>
            <td width="50%" style="padding-top:30px; padding-left:20px">
                <center>
                    <div ng-repeat="reco in d.recommendersB | orderBy: 'sort' : true">

                        <table border="1" style="border:1px solid gray; margin-bottom:15px;"
                            ng-class="{'currentVote' : reco.Recommenders[0].EMail == currentUser.UserPrincipalName}">

                            <tr>
                                <td style="padding:10px;">
                                    <input type="text" ng-model="reco.recovote">

                                    <!-- RO Other User -->
                                    <div ng-hide="reco.Recommenders[0].EMail == currentUser.UserPrincipalName"
                                        class="pacc-vote">

                                        <b>
                                            {{reco.Recommenders[0].Title}}
                                        </b>

                                        (<a
                                            href="mailto:{{reco.Recommenders[0].EMail}}">{{reco.Recommenders[0].EMail}}</a>)</b>
                                        <b>
                                            <br>
                                            College : {{reco.College}}
                                            <br>
                                            Title : {{reco.Title}}
                                            <br>
                                            Comments:</b>
                                        <br>
                                        <textarea readonly name="" id="" cols="30" rows="2"
                                            ng-model="reco.voteComments"></textarea>
                                        <br>
                                    </div>



                                    <!-- RW Current User -->
                                    <div ng-show="reco.Recommenders[0].EMail == currentUser.UserPrincipalName"
                                        class="pacc-vote">

                                        <b>
                                            {{reco.Recommenders[0].Title}}
                                        </b>

                                        (<a
                                            href="mailto:{{reco.Recommenders[0].EMail}}">{{reco.Recommenders[0].EMail}}</a>)</b>
                                        <b>
                                            <br>
                                            Comments:</b> (required for Recommendation buttons to activate)
                                        <br>
                                        <textarea name="" id="" cols="30" rows="2" ng-model="reco.voteComments"
                                            ng-class="{'required-field': !reco.voteComments}"></textarea>
                                        <br>
                                        <b>
                                            College: {{reco.College}}
                                        </b>
                                        <br>
                                        <b>
                                            Recommendation:{{reco.recovote}}
                                        </b>
                                        <div style="white-space: nowrap">
                                            <button ng-disabled="!reco.voteComments" class="btn-success"
                                                ng-click="step4vote('B', reco, 'Accept')">Acceptable</button>
                                            <button ng-disabled="!reco.voteComments" class="btn-successminor"
                                                ng-click="step4vote('B', reco, 'AcceptMinor')">Acceptable
                                                w/ Minor Concerns</button>
                                            <button ng-disabled="!reco.voteComments" class="btn-orange"
                                                ng-click="step4vote('B', reco,'Not')">
                                                <i class="fa fa-save"></i>
                                                Not Acceptable
                                            </button>
                                            <br>
                                            <b>
                                                Reassign:
                                            </b>
                                            <br>
                                            <input type="text" name="" id="" ng-model="reco.reassign">
                                            <button class="btn-upload" ng-click="step4reassign()">Reassign</button>
                                        </div>
                                        <div ng-hide="!d.step4.CF" class="vote">
                                            <i class="fa fa=check"></i>
                                            alt="">
                                            {{d.step4.CF}}
                                            <a ng-click="undostep4('CF')">(Change Recommendation)</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </center>
            </td>
        </tr>
    </table>

    <!-- Buttons -->
    <div>
        <center>
            <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                <i class="fa fa-folder" aria-hidden="true"></i>
                View Folder
            </button>
            <button class="btn-upload" ng-click="close()">
                <i class="fa fa-times-circle"></i>
                Close Form
            </button>
            <button class="btn-warn" ng-click="submit(4.2, false, 'reco')" title="Save the current data."
                ng-hide="isPA()">
                <i class="fa fa-save"></i>
                Save
            </button>
            <div ng-hide="isReadOnly()">
                <button class="btn-success" ng-show="(voteAllowStep4() && (isDO() || isDCF()))"
                    ng-click="submit(5, true, 'next')">
                    <i class="fa fa-arrow-circle-right"></i>
                    Submit to Step 5
                </button>
                <button class="btn-warn" ng-click="submit(4.1, false, 'tabled')" ng-show="currentCF()"
                    title="Proposal dormant">
                    <i class="fa fa-save"></i>
                    Table
                </button>
            </div>
        </center>
    </div>
</div>