<div ng-hide="saveHide">
    <table border="1" class="form-table pacc-form" width="100%">
        <tr>
            <td colspan="2" class="form-header">


                <center>
                    <h2>
                        Step 1 INITIATION
                    </h2>

                    <h3>
                        Curriculum Facilitator Review
                    </h3>

                    You are designated as the Curriculum Facilitator (CF) of this proposal.
                    <br>
                    Review all completed fields and submit the approporiate recommendation.
                    <br>
                    An automated email notification will be sent to the Principal Advocate (PA) guiding them on the next
                    action to take based on your recommendation.

                    <br>
                </center>

            </td>

        </tr>

        <tr>
            <td width="70%" style="padding-top:30px">



                <table ng-hide="!currentCF()">
                    <tr>
                        <td colspan=2>

                            <center>
                                <div class="error">
                                    Review all completed fields by clicking on STEP 1 in the tmeline
                                    <br />
                                    and return to CF REV to submit the approporiate recommendaton.
                                </div>
                            </center>
                            <br>
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td class="form-label">
                            Required CF Comments:
                        </td>
                        <td>
                            <textarea name="" id="" cols="60" rows="5" ng-class="{'required-field': !d.step1.cfcomment}"
                                style="margin-top:10px;" ng-model="d.step1.cfcomment" ng-disabled="!currentCF()"
                                ng-hide="!currentCF() && !d.step1.cfcomment"></textarea>
                        </td>
                    </tr>
                </table>

                <div ng-show="!currentCF()">
                    Current user not CF.</div>

            </td>
            <td width="30%" style="padding-top:30px;padding-left:20px">

                <div ng-hide="isPA()">
                    <div class="form-label" style="text-align: left">Attach Supportive Documentation:<div>


                            <div class="help-text">
                                You may begin to upload documentaton to assist the
                                Principal Advocate through the upcoming steps of this
                                proposal.
                            </div>

                            <div ng-show="!id">
                                <div
                                    style="background-color:lightblue; border:1px; border-color: black; padding:5px; margin-top:10px;">

                                    Please save PACC Proposal <button class="btn-warn" ng-click="save()">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </button> to begin attaching supportive documentation.
                                    <br>
                                </div>

                            </div>


                            <!-- File Upload -->
                            <div ng-show="id">
                                <div class="help-text">
                                    <br>
                                    Click "Choose File" to select file. Once file is selected, click "Upload" to
                                    complete
                                    the
                                    process.
                                    You can only upload one file at a time.
                                </div>
                                <table class="upload-table">
                                    <tr>
                                        <td><input type="file" name="uploadFile" id="uploadFile" class="btn-upload"
                                                style="padding-left:3px; padding-top:3px;"></td>
                                        <td>
                                            <button ng-click="upload()" class="btn-upload">
                                                <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                            </button></td>
                                    </tr>
                                </table>


                                <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                    View Folder
                                </button>

                                <!-- File Table -->
                                <table class="table-files" ng-show="uploadFiles.length">
                                    <tr>
                                        <td>Icon</td>
                                        <td>Filename</td>
                                        <td>Created</td>
                                    </tr>
                                    <tr ng-repeat="f in uploadFiles">
                                        <td>
                                            <img ng-src="{{getIcon(f.Name)}}" alt="" />
                                        </td>
                                        <td>
                                            <a href="{{f.ServerRelativeUrl}}">{{f.Name}}</a>


                                        </td>
                                        <td>{{f.TimeCreated.substring(0,10)}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
            </td>
        </tr>
    </table>

    <!-- Buttons -->
    <div>
        <center>
            <button ng-show="id" class="btn-upload" ng-click="close()">
                <i class="fa fa-times-circle"></i>
                Close Form
            </button>
            <div ng-hide="isReadOnly()">
                <button class="btn-orange" ng-show="isCF()" ng-click="submit(1, true, 'submit')"
                    title="Save the current data and submit to your CF for review." ng-hide="isPA()">
                    <i class="fa fa-save"></i>
                    Not Acceptable - Return to Step 1
                </button>
                <button class="btn-success" ng-show="isCF()" ng-click="submit(2, true, 'next')"
                    title="Submit to CF for Review and exit the proposal." ng-disabled="notValid()">
                    <i class="fa fa-arrow-circle-right"></i>
                    Acceptable - Move to Step 2
                </button>
            </div>
        </center>
    </div>
</div>