<div ng-hide="saveHide">
    <table border="1" class="form-table" width="100%">
        <tr>
            <td colspan="2" class="form-header">
                <center>
                    <h2>
                        STEP 5 - External Submission
                    </h2>


                    <h3>
                        Administrative Validation for External Submission
                    </h3>

                    <div>
                        Review all completed fields and supportive documentation to initiate external review. Automated
                        email notifications will be sent based on your actions.
                    </div>

                </center>

            </td>
        </tr>

        <tr>
            <td width="70%" style="padding-top:30px">

                <table>

                    <tr>
                        <td class="form-label">

                            <div
                                ng-show="d.step1.selectType == 'New Course' || d.step1.selectType == 'Changes to Existing Course'">
                                <span
                                    title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters. Sample Course Name and Number: ENG 101.">
                                    <i class="fa fa-question-circle"></i>
                                    Course Name and Number:</div>
                            <div
                                ng-hide="d.step1.selectType == 'New Course' || d.step1.selectType == 'Changes to Existing Course'">
                                <span
                                    title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters. Sample Program Name: BC-Web Development.">
                                    <i class="fa fa-question-circle"></i>
                                    Program Name:</div>

                            </span>

                        </td>
                        <td>
                            <span
                                title="Insert a tracking title for administrative purposes. The PA or CF can change the title during Step 2. Provide a simple title, not a description of the proposal. Limit 60 characters.">
                                <input disabled type="text" name="" id="" ng-model="d.step1.pacctitle"
                                    ng-class="{'required-field': !d.step1.pacctitle}">
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td class="form-label">Status</td>
                        <td>
                            <select name="" id="" ng-options="x for x in choiceStatusICCB" ng-model="d.step5.statusICCB"
                                ng-class="{'required-field': !d.step5.statusICCB}"></select>
                        </td>
                    </tr>

                    <tr>
                        <td class="form-label">Administrative Comments</td>
                        <td>
                            <textarea name="" id="" cols="60" rows="5" ng-model="d.step5.comments"></textarea>
                            <br>
                            <button class="btn-warn" ng-click="submit(5.1, true, 'next')">
                                Submit to External Review
                            </button>
                            <div class="error">
                                This will put the proposal at Step 5.1 status.
                            </div>
                        </td>
                    </tr>



                    <tr ng-show="d.step5.statusICCB == 'ICCB Approved'">
                        <td class="form-label">Effective Date to Offer Course</td>
                        <td>
                            <input type="text" name="" id="" datepicker ng-model="d.step5.effectiveDate"
                                ng-disabled="isReadOnly()">
                            <br>
  
                        </td>
                    </tr>

                </table>
            </td>
            <td width="30%" style="padding-top:30px;padding-left:20px">


                <div class="form-label" style="text-align: left">Attach Supportive Documentation:<div>
                        <div class="help-text">
                            Documentation is optional at this step.
                            See PACC Supportive Documentation Folder for PACC Documentation Guidelines PDF in Document
                            Library.
                        </div>

                        <div ng-show="!id">
                            <div
                                style="background-color:lightblue; border:1px; border-color: black; padding:5px; margin-top:10px;">

                                Please save PACC Proposal <button class="btn-warn" ng-click="save()"
                                    title="Save the current data.">
                                    <i class="fa fa-save"></i>
                                    Save
                                </button> to begin attaching supportive documentation.
                                <br>
                            </div>

                        </div>


                        <!-- File Upload -->
                        <div ng-show="id">
                            <div class="help-text">
                                <br>
                                Click "Choose File" to select file. Once file is selected, click "Upload" to complete
                                the
                                process.
                                You can only upload one file at a time.
                            </div>
                            <table class="upload-table">
                                <tr>
                                    <td><input type="file" name="uploadFile" id="uploadFile" class="btn-upload"
                                            style="padding-left:3px; padding-top:3px;"></td>
                                    <td>
                                        <button ng-click="upload()" class="btn-upload">
                                            <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                        </button></td>
                                </tr>
                            </table>


                            <button ng-click="viewFolder()" class="btn-upload" ng-hide="!id">
                                <i class="fa fa-folder" aria-hidden="true"></i>
                                View Folder
                            </button>

                            <!-- File Table -->
                            <table class="table-files" ng-show="uploadFiles.length">
                                <tr>
                                    <td>Icon</td>
                                    <td>Filename</td>
                                    <td>Created</td>
                                </tr>
                                <tr ng-repeat="f in uploadFiles">
                                    <td>
                                        <img ng-src="{{getIcon(f.Name)}}" alt="" />
                                    </td>
                                    <td>
                                        <a href="{{f.ServerRelativeUrl}}">{{f.Name}}</a>


                                    </td>
                                    <td>{{f.TimeCreated.substring(0,10)}}</td>
                                </tr>
                            </table>
                        </div>
            </td>
        </tr>
    </table>

    <!-- Buttons -->
    <div>
        <center>
            <button class="btn-upload" ng-click="close()">
                <i class="fa fa-times-circle"></i>
                Close Form
            </button>
            <div ng-hide="isReadOnly()">
                <button class="btn-warn" ng-click="save()" title="Save the current data." ng-hide="isPA()">
                    <i class="fa fa-save"></i>
                    Save
                </button>
                <button class="btn-warn" ng-click="save(null, 'close')"
                    title="Save the current data and close the proposal." ng-hide="isPA()">
                    <i class="fa fa-save"></i>
                    Save and Close
                </button>
                <button class="btn-success" ng-click="submit(6, true)"  ng-show="d.step5.statusICCB == 'ICCB Approved'" ng-disabled="d.step5.statusICCB != 'ICCB Approved' || !d.step5.effectiveDate || isReadOnly()">
                    <i class="fa fa-arrow-circle-right"></i>
                    ICCB Approval Recieved. Move to Step 6.
                </button>
            </div>
        </center>
    </div>
</div>