.edit-mode .jcarousel-skin-echo {display: none;}

/* File Created: October 18, 2012 */
.feature-underline, .jcarousel-skin-echo ul li:hover {
    background-image: url("../../images/ChicagoCityColleges.com/flipper-hover-flipped.png"); 
    background-position: 0 68px; 
    background-repeat: no-repeat;
 }
 
.jcarousel-skin-echo ul li:hover a {
    font-weight: bold;
}

.jcarousel-skin-echo .jcarousel-container-horizontal {
    padding: 20px 40px 0 40px;
	width: 635px;
}

.jcarousel-skin-echo .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-echo .jcarousel-clip-horizontal {
    width:  635px;
    height: 90px;
}

.jcarousel-skin-echo .text.show-text {
    display: block;
 }
 
.jcarousel-skin-echo .text {
	display: none;
	height: 60px;
    left: 40px;
    overflow: hidden;
    position: relative;
	width: 635px;
}

.jcarousel-skin-echo .jcarousel-item {
    width: 107px;
    height: 75px;
}

.jcarousel-skin-echo .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 10px;
}

.jcarousel-skin-echo .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-prev-disabled, .jcarousel-next-disabled {display: none !important;}

.jcarousel-skin-echo .jcarousel-next-horizontal {
    background: url("../../images/ChicagoCityColleges.com/switcher-images/flipper-arrows.png") no-repeat scroll -15px 0 transparent;
    cursor: pointer;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 35px;
    width: 10px;
}

.jcarousel-skin-echo .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(../../images/ChicagoCityColleges.com/prev-horizontal.png);
}

.jcarousel-skin-echo .jcarousel-next-disabled-horizontal,
.jcarousel-skin-echo .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-echo .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-echo .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.jcarousel-skin-echo .jcarousel-prev-horizontal {
	background: url("../../images/ChicagoCityColleges.com/switcher-images/flipper-arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 50px;
    left: 15px;
    position: absolute;
    top: 35px;
    width: 10px;
}

.jcarousel-skin-echo .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(../../images/ChicagoCityColleges.com/next-horizontal.png);
}

.jcarousel-skin-echo .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-echo .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-echo .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-echo .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}

.flipper-content .image .youtubevideo img {
    max-height: 66px;
    width: 105px;
}