.play {
    background-image: url("../../images/ChicagoCityColleges.com/slider-images/play.png");
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 10px;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 5px;
    z-index: 9999;
    color:white;
}
.pause {
    background-image: url("../../images/ChicagoCityColleges.com/slider-images/pause.png");
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 10px;
    line-height: 0;
    position: absolute;
    right: 22px;
    top: 5px;
    width: 6px;
    z-index: 9999;
    color:white;
}

/*---Slideshow---*/
#slides {height: 300px; left: 0; position: absolute; top: 0; z-index: 0;}
/*---Slides container Important: Set the width of your slides container Set to display none, prevents content flash---*/
.slides_container {height: 300px; width:660px; overflow:hidden; position:relative; display:none;}

/*--- Each slide Important: Set the width of your slides If height not specified height will be set by the slide content Set to display block---*/
.slides_container a {width:660px; height:300px; display:block;}
.slides_container a img {display: block; min-height: 300px; width: 660px;}

/*---Pagination---*/
.pagination {background-color:black;background: url("../../images/ChicagoCityColleges.com/slider-images/pager-bg.png") repeat scroll 0 0 black; bottom: 0; height: 20px; left: 0; line-height: 40px; margin: 0; padding-left: 10px; padding-right: 35px; position: absolute; text-align: center; z-index: 100;}
.pagination li {float:left; margin:0 1px; list-style:none;}
.pagination li a {background-image: url("../../images/ChicagoCityColleges.com/slider-images/pager-page.png"); color: #FFFFFF; display: block; float: left; font-size: 0; height: 10px; line-height: 0; margin: 5px 3px; text-decoration: none; text-indent: -9999px; width: 10px;}
.pagination li.current a {background-image: url("../../images/ChicagoCityColleges.com/slider-images/pager-page-selected.png");}
.pagination li a:focus{outline:2px solid yellow;}