.show-text {display: block !important;}
#bottom-section.district .flipper-left {padding: 20px 0 0;}
.flipper-left {float: left; margin-bottom: 10px; margin-right: 40px; padding: 10px 0 0 10px; position: relative;}
.flipper-right {float: left; padding: 20px 0 0; position: relative;}
/*
.flipper-wrapper {background-image: url("/_layouts/images/ChicagoCityColleges.com/switcher-images/flipper-shadow-top.png"); background-position: center top; background-repeat: no-repeat; height: 200px; overflow: hidden; padding-bottom: 20px; padding-top: 21px; position: relative; width: 660px;}
.flipper-left .flipper-wrapper, .flipper-right .flipper-wrapper {background-image: none; background-position: center top; background-repeat: no-repeat; height: 160px; overflow: hidden; padding-top: 0; position: relative; width: 450px;}
.shadow-bottom {background-image: url("/_layouts/images/ChicagoCityColleges.com/switcher-images/flipper-shadow-bottom.png"); background-position: center bottom; background-repeat: no-repeat; height: 200px; padding-bottom: 21px;}*/
#bottom-section.district .flipper-wrapper.college .shadow-bottom {height: 200px;}
.flipper-wrapper.college .shadow-bottom {height: 210px;}
.flipper-left .shadow-bottom, .flipper-right .shadow-bottom {background-image: none; height: auto;}
.flipper-title-features {background-image: url("../../images/ChicagoCityColleges.com/features.png"); height: 17px; left: 0px; position: absolute; top: 30px; width: 88px;}
.flipper-title-student-success {background-image: url("../../images/ChicagoCityColleges.com/switcher-images/flipper-shadow-bottom.png");}

.feature-career-wrapper {position: relative;}
.feature-career-wrapper h2 {}
.feature-career-wrapper > h2 {left: 335px; position: absolute; top: 25px;}

.feature-event-wrapper {background-image: url("../../images/ChicagoCityColleges.com/switcher-images/flipper-shadow-top.png"); background-position: center top; background-repeat: no-repeat; padding-bottom: 20px; padding-top: 20px; position: relative;}
.feature-event-wrapper .nav {display: none;}
.feature-event-wrapper h2 {}
.feature-event-wrapper > h2 {left: 335px; position: absolute; top: 25px;}

.feature-event-wrapper .shadow-bottom {height: 201px;}
.feature-event-wrapper .flipper-wrapper.college .image img {height: auto; max-height: 200px; max-width: 320px; width: auto;}
.feature-event-wrapper .flipper-wrapper.college .image {border: 1px solid #fff; height: 200px; overflow: hidden; width: 320px;}
.feature-event-wrapper ul.mycarousel {margin: 0 0 0 7px; padding: 0;}
.feature-event-wrapper .flipper-content .text {height: 145px; left: 335px; margin: 50px 0 0; padding: 0; position: absolute; width: 320px;}
.feature-event-wrapper .flipper-content .text p {display: block !important;}
.feature-event-wrapper .flipper-content .text a.flipperlink {font-size: 18px; font-weight: bold;}

.features-right {background-image: url("../../images/ChicagoCityColleges.com/student-success.png"); height: 16px; left: 50px; position: absolute; top: 5px; width: 152px; z-index: 9999;}
/*.features-left {background-image: url("/_layouts/images/ChicagoCityColleges.com/features.png"); height: 17px; left: 50px; position: absolute; top: 5px; width: 88px; z-index: 9999;}*/

.pics {height: 200px !important; overflow: hidden;}
#content-right .flipper-wrapper.college .flipper-content {}
#content-right .flipper-wrapper.college table {overflow: hidden;}

#bottom-section.district .flipper-wrapper.college table {overflow: hidden;}

#bottom-section .flipper-content {margin-bottom: 0px; position: relative; width: 107px;}

.careerfinder #bottom-section .flipper-content {cursor: pointer; margin-bottom: 0px; position: relative; width: 75px;}
#bottom-section.college .flipper-content {position: static;}
/*#bottom-section.college .flipper-content .text {padding-top: 0; position: absolute; left: 0; display: none; top: 95px;}*/

/*.flipper-content .text p {display: none;}*/

.show-text {font-weight: bold;}
.show-text p {font-weight: normal; margin: 5px 0;}

.flipper-content {height: 165px;}
.flipper-content .image {border: 2px solid #c1c5ca;border-bottom-style:none;border-radius:10px 10px 0px 0px; float: left; height: 66px; margin: 0; overflow: hidden; position: relative; width: 105px;}
.careerfinder .flipper-content .image {border: none; float: left; height: 75px; margin: 0; overflow: hidden; padding-bottom: 15px; position: relative; width: 75px;}
/*.flipper-content .text {padding-top: 90px;}*/
.feature-event-wrapper .college .flipper-content .text p {width: auto;}
.college .flipper-content .text p {width: 590px; font-weight: normal; font-size: 12px;}
#content-right .flipper-content .text {font-size: 14px;}
.flipper-content.college .image img {height: auto; max-height: 120px; max-width: 180px;}
.flipper-wrapper.college .image img {height: 120px; width: 180px;}
.flipper-content.college .image .youtubevideo img {max-height: 120px;}
.flipper-wrapper.college .image {}
.flipper-wrapper.college .image .youtubevideo img {max-height: 120px; width: 180px !important;}
.flipper-wrapper.college .image a.PlayButton {}
.flipper-content a.PlayButton {}
.flipper-left .flipper-content .text, .flipper-right .flipper-content .text {left: 0px; margin: 0;}

.careerfinder .flipper-left .flipper-content .text {color: #0065A4; text-align: center;}

.flipper-wrapper.college .flipper-content .text h2 {margin: 0;}
.flipper-content .text h2 {margin: 40px 0 10px;}
#content-right .nav {top: 30px; right: 0;}
.nav {height: 40px; line-height: 20px; position: absolute; right: 10px; text-align: center; top: 25px; width: 70px;}
.flipper-left .nav {top: 0; z-index: 3;}
.flipper-right .nav {top:0; z-index: 3;}
#content-right .nav {top: 30px; z-index: 3;}
#content-right .dfwp-item .nav {right: -9px; top: -40px;}
.nav2 {height: 40px; line-height: 20px; position: absolute; right: 10px; text-align: center; top: 0; width: 70px; z-index: 4;}
.nav a, .nav2 a {background-position: center center;	background-repeat: no-repeat; display: block; font-size: 0; height: 12px; line-height: 0;	outline: none; padding: 5px; position: absolute; text-indent: -9999px; top: 0; width: 10px;}
.nav a#prev, .nav2 a#prev2  {background-image: url("../../images/ChicagoCityColleges.com/switcher-images/prev.png"); left: 0;}
.nav a#next, .nav2 a#next2 {background-image: url("../../images/ChicagoCityColleges.com/switcher-images/next.png"); right: 0;}
.slideCaption, .slideCaption2 {font-size: 12px;}
.slideCaption, .slideCaption2 {display:none;}
#content-right .flipper-index {position: absolute; left: 15px;}
.flipper-index {}
#bottom-section .flipper-left .flipper-wrapper .flipper-index,
#bottom-section .flipper-right .flipper-wrapper .flipper-index {display: inline-block; padding: 0 20px; width: 40px;}
.flipper-wrapper .dfwp-item, .flipper-wrapper .dfwp-list {display: inline-block; height: auto !important; width: 107px !important;}
.careerfinder .flipper-wrapper .dfwp-item, .flipper-wrapper .dfwp-list {display: inline-block; height: auto !important; width: 85px !important;}
.thePager, .thePager2 {display: none;}

.feature-career-wrapper .flipper-index {position: absolute; right: 15px; top: -20px;}
.feature-career-wrapper .flipper-content .text {margin: 0; padding: 50px 0 0;}
.feature-career-wrapper .flipper-wrapper.college .image {margin-bottom: 25px;}



#bottom-section.district .flipper-full-width .flipper-content { height: 210px; width: 180px !important; }
#bottom-section.district .flipper-full-width .flipper-content .text p
{
  height: 42px;
  width: auto !important;
  border-top-style: dotted;
  border-top-width: thin;
  margin-top: 5px;
  overflow: hidden;
  display: none;
  }
#bottom-section.district .flipper-full-width .flipper-content .image { height: 133px !important; width: 200px !important; }
#bottom-section.district .flipper-full-width .flipper-content .image img { height: 133px !important; width: 200px !important; }
#bottom-section.district .shadow-bottom { height: auto !important; padding-bottom: 21px;}

/*--- College Features ---*/
#bottom-section.college .flipper-content { height: 0px; width: 190px !important; }
#bottom-section.college .flipper-content .text { font-size: 11px !important; line-height: 1.2em; float: left; }
#bottom-section.college .flipper-content .text p
{ height: 45px; width: auto !important; border-top-style: none; border-top-width: 0;
  margin-top: 5px; overflow: hidden;display:none; }
#bottom-section.college .flipper-content .image { height: 133px !important; width: 198px !important; }
#bottom-section.college .flipper-content .image img { height: 133px !important; width: 198px !important; }
#bottom-section.college .shadow-bottom { height: auto !important; padding-bottom: 21px;}

#bottom-section.college .flipper-content .text p
{ height: 45px; width: auto !important; border-top-style: none; border-top-width: 0;
  margin-top: 5px; overflow: hidden; padding-top: 5px;display:none; }
  