.statusContainer {
    color:white;
}

.statusContainer a {
    color:white;
}

.statusIcon {
    padding:5px;
}

.statusHeader {
    font-weight: bold;
}

.statusTbl {
    width: 100%;
}
.statusTbl td {
  padding-top: 26px;
  padding-bottom: 26px;

  padding-left: 26px;
  padding-right: 26px;
}

.statusTblBlue td {
  background-color: #37B4E0;
}

.statusTblRed td {
  background-color: lightcoral;
}

/*
 from https://www.geeksforgeeks.org/set-the-limit-of-text-length-to-n-lines-using-css/ 
*/
.statusDesc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 16px;    
    max-height: 32px;     
    -webkit-line-clamp: 2; /* Write the number of 
                              lines you want to be 
                              displayed */
    -webkit-box-orient: vertical;
}
