<div ng-repeat="acct in d.acct.accounts">

    <table>

        <td>
            <h2>Account {{$index + 1}}

            </h2>
        </td>
        <td><i class="fas fa-minus-circle" ng-click="deleteRow('acct.accounts', $index)">Remove</i></td>

        <tr>
            <td>Account Type:
            </td>
            <td>
                <select name="" id="" ng-model="acct.selectStartAccount" ng-options="x for x in choiceStartAccount"></select>
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td style="vertical-align:top">Account Options: </td>
            <td>Combined Statement:
                <input type="radio" name="combined" id="yes-combined" ng-model="acct.combined" value="Yes">
                <label for="yes-combined">
                    Yes
                </label>

                <input type="radio" name="combined" id="no-combined" ng-model="acct.combined" value="No">
                <label for="no-combined">
                    No
                </label>
                <br>
                Statement Option:
                <select name="" id="" ng-model="acct.selectStatementOption" ng-options="x for x in choiceStatementOption"></select>
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Business Debit Card:
            </td>
            <td>
                <input type="radio" name="bizdebit" id="yes-bizdebit" ng-model="acct.bizdebit" value="1">
                <label for="yes-bizdebit">
                    Yes
                </label>

                <input type="radio" name="bizdebit" id="no-bizdebit" ng-model="acct.bizdebit" value="0">
                <label for="no-bizdebit">
                    No
                </label>

                <div class="fmb-error" ng-show="acct.bizdebit == 1">
                    CIS Record must be created for each person needing a Debit Card
                </div>
            </td>
            <td>
                <div ng-show="acct.bizdebit == 1">
                    How Many?
                    <select name="" id="" ng-model="acct.bizDebitHowMany">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </td>
            <td>

            </td>
        </tr>


        <tr>
            <td>Number of Signers:

            </td>
            <td>
                <input type="number" name="" id="" ng-model="acct.numberSigners">
            </td>
        </tr>
        <tr>
            <td>Is this a Small Business Account:
            </td>
            <td>
                <input type="radio" id="yes-smallbiz" ng-model="acct.smallbiz" value="1">
                <label for="yes-smallbiz">
                    Yes
                </label>

                <input type="radio" id="no-smallbiz" ng-model="acct.smallbiz" value="0">
                <label for="no-smallbiz">
                    No
                </label>
            </td>
        </tr>



        <tr>
            <td>Account Number:

            </td>
            <td>
                <input type="text" name="" id="" ng-model="acct.acctNumber">
            </td>
        </tr>

        <tr>
            <td>Primary Officer:</td>
            <td><input type="text" name="" id="" ng-model="d.start.rm" disabled></td>
        </tr>
        <tr>
            <td>Secondary Officer:</td>
            <td> <input type="text" name="" id="" ng-model="d.start.tmo"></td>
        </tr>

        <tr>
            <td>Geographical Location served:</td>
            <td>

                <select name="" id="" ng-model="acct.selectGeography" ng-options="x for x in choiceGeography"></select>
            </td>
            <td>
                <span ng-show="acct.selectGeography == '3 - International'">
                    If international, what country:
                </span>
            </td>
            <td>
                <select ng-show="acct.selectGeography == '3 - International'" name="" id="" ng-model="acct.selectCountry"
                    ng-options="x for x in choiceCountry"></select>
            </td>
        </tr>

        <tr>
            <td colspan="4">
                <h4>Expected/Anticipated monthly deposits</h4>
            </td>
        </tr>

        <tr>
            <td>Cash: </td>
            <td>$<input type="number" name="" id="" ng-model="acct.cash"></td>
        </tr>
        <tr>
            <td>Domestic Wires: </td>
            <td>$<input type="number" name="" id="" ng-model="acct.domestic"></td>
        </tr>
        <tr>
            <td>Foreign Wires: </td>
            <td>$<input type="number" name="" id="" ng-model="acct.foreign"></td>
        </tr>



        <tr>
            <td colspan="4">
                <h4>Destination countries of wires</h4>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>

                <div ng-repeat="r in acct.destWireCountry">
                    <select name="" id="" ng-model="r.selectCountry" ng-options="x for x in choiceCountry"></select>
                    <i class="fas fa-minus-circle" ng-click="acct.destWireCountry.splice($index, 1)">Remove</i>

                </div>

                <div ng-click="acct.destWireCountry.push({})">
                    <i class="fas fa-plus-circle"></i>
                    Add
                </div>
            </td>
            <td></td>
        </tr>


        <tr>
            <td colspan="4">
                <h4>Mailing Address (if different than Company Address):</h4>
            </td>
        </tr>
        <tr>
            <td>Complete Address</td>
            <td> <input type="text" name="" id="" ng-model="acct.addressFirst"></td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" ng-model="acct.addressSecond"></td>
        </tr>
        <tr>
            <td>City, State, Zip:
            </td>
            <td><input type="text" name="" id="" ng-model="acct.addressThird"></td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td colspan="4">
                <h4>Initial Deposit Information</h4>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>

                <table border="1">
                    <tr style="text-align:center">
                        <td></td>
                        <td>Amount</td>
                        <td>Source of Funds</td>
                    </tr>
                    <tr>
                        <td>Internal
                        </td>
                        <td>
                            $
                            <input type="number" name="" id="" ng-model="acct.sourceIntAmt">
                        </td>
                        <td>
                            <select name="" id="" ng-model="acct.selectSourceFundsInt" ng-options="x for x in choiceSourceFundsInt"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>External
                        </td>
                        <td>
                            $
                            <input type="number" name="" id="" ng-model="acct.sourceExtAmt">
                        </td>
                        <td>
                            <select name="" id="" ng-model="acct.selectSourceFundsExt" ng-options="x for x in choiceSourceFundsExt"></select>
                        </td>
                    </tr>
                </table>



            </td>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <td colspan="4">
                <h4>Signatures</h4>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top">How many signatures required to withdrawal from account?</td>
            <td style="vertical-align: top">
                <br>
<input type="radio" name="sigreq" id="sigreq1" ng-model="d.acct.sigreq" value="1">
<label for="sigreq1">1 Signature required</label>
<br>
<input type="radio" name="sigreq" id="sigreq2" ng-model="d.acct.sigreq" value="2">
<label for="sigreq2">2 Signature required</label>
<br>
<input type="radio" name="sigreq" id="sigreqspecial" ng-model="d.acct.sigreq" value="special">
<label for="sigreqspecial">Special requirements</label>
<br>
<input type="text" name="" id="" ng-model="d.acct.sigreqspecial" ng-show="d.acct.sigreq == 'special'">

            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>


    </table>


    <hr class="fmb-linebreak">
</div>
<div>
    <i class="fa fa-plus-circle" ng-click="d.acct.accounts.push({destWireCountry:[{}]})">Add</i>
</div>