<h2>Business Express</h2>

<table border="0">
    <tr>
        <td>Business Name
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.express.company">
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Business Express Tier
        </td>
        <td>

            <select name="" id="" ng-model="d.express.selectBizExpress" ng-options="x for x in choiceBizExpress"></select>

        </td>
        <td></td>
    </tr>
    <tr>
        <td>Administrator Info
            (New setup only)
        </td>
        <td>Administrator
        </td>
        <td>Co-Admin (if applicable)
        </td>
    </tr>

    <tr>
        <td>Full Name
        </td>
        <td><input type="text" name="" id="" ng-model="d.express.fullname">
        </td>
        <td><input type="text" name="" id="" ng-model="d.express.cofullname">
        </td>
    </tr>
    <tr>
        <td>Primary Phone
        </td>
        <td><input type="text" name="" id="" ng-model="d.start.companyContactPhone" disabled>
        </td>
        <td><input type="text" name="" id="" ng-model="d.express.cophone">
        </td>
    </tr>
    <tr>
        <td>Secondary Phone
            (Indicate work or mobile) </td>
        <td><input type="text" name="" id="" ng-model="d.express.phonesecondary"></td>
        <td>
            <input type="text" name="" id="" ng-model="d.express.cophonesecondary">
        </td>
    </tr>
    <tr>
        <td>Email
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.start.companyContactMail" disabled>
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.express.coemail">
        </td>
    </tr>
    <td>
    <td><br></td>
    </td>
    <tr>
        <td>
            <b>Requested Services</b>
        </td>
        <td>
            <b>Select Accounts to entitle this service</b>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Loan Payment</td>
        <td class="fmb-center">
            <input type="checkbox" name="" id="" ng-model="d.express.loanpayment">
        </td>
    </tr>
    <tr>
        <td>Balance Reporting</td>
        <td class="fmb-center">
            <input type="checkbox" name="" id="" ng-model="d.express.balancereport">
        </td>
    </tr>
    <tr>
        <td>Mobile Banking</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.mobilebank"></td>
    </tr>
    <tr>
        <td>Mobile Remote Deposit Capture</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.mobiledeposit"></td>
    </tr>
    <tr>
        <td>
            <a href="#ach">ACH Origination (Template)</a>


        </td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.achorigtemplate"></td>
        <td class="fmb-error">Please complete additonal tab
        </td>
    </tr>
    <tr>
        <td>
            <a href="#ach">
                ACH Origination (Upload)
            </a>
        </td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.achorig"></td>
        <td class="fmb-error">Please complete additonal tab
        </td>
    </tr>
    <tr>
        <td>Account Recon Paid File</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.acctpaid"></td>
    </tr>
    <tr>
        <td>Internal Transfers</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.inttransfer"></td>
    </tr>
    <tr>
        <td>Bill Payment</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.billpay"></td>
        <td class="fmb-error">Please complete additonal tab
        </td>
    </tr>
    <tr>
        <td>
            <a href="#ppay">
                Positive Pay
            </a>
        </td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.pospay"></td>
    </tr>
    <tr>
        <td>ACH Positive Pay</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.achpay"></td>
    </tr>
    <tr>
        <td>
            <a href="#acctrecon">
                Account Recon
            </a>
        </td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.acctrecon"></td>
        <td class="fmb-error">Please complete additonal tab
        </td>
    </tr>
    <tr>
        <td>Multiple Account Transfers</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.multitransfer"></td>
    </tr>
    <tr>
        <td>Controlled Disbursement</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.disburse"></td>
    </tr>
    <tr>
        <td>
            <a href="#wire">
                Wire Transfer
            </a>
        </td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.wire"></td>
        <td class="fmb-error">Please complete additonal tab
        </td>
    </tr>
    <tr>
        <td>eStatements</td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.estmt"></td>
    </tr>
    <tr>
        <td>
            <a href="#edi">
                EDI Reporting
            </a>
        </td>
        <td class="fmb-center"><input type="checkbox" name="" id="" ng-model="d.express.edireport"></td>
        <td class="fmb-error">Please complete additonal tab
        </td>

    </tr>
    <td>
    <td><br></td>
    </td>
    <tr>
        <td><b>
                Accounts that will be receiving <br>
                the services above</b>
        </td>


        <td>
            <b>
                Type</b>
        </td>
    </tr>


    <tr ng-repeat="r in d.express.expressLoans">
        <td>
            <input type="text" name="" id="" ng-model="r.accounts">
        </td>

        <td>

            <input type="radio" ng-model="r.purpose" name="purpose{{$index}}" id="purpose1{{$index}}" value="Checking">
            <label for="purpose1{{$index}}">Checking</label>

            <input type="radio" ng-model="r.purpose" name="purpose{{$index}}" id="purpose2{{$index}}" value="Savings">
            <label for="purpose2{{$index}}">Savings</label>


            <input type="radio" ng-model="r.purpose" name="purpose{{$index}}" id="purpose3{{$index}}" value="CD">
            <label for="purpose3{{$index}}">CD</label>

            <input type="radio" ng-model="r.purpose" name="purpose{{$index}}" id="purpose4{{$index}}" value="Loan">
            <label for="purpose4{{$index}}">Loan</label>
        </td>
        <td>
                <i class="fa fa-minus-circle" ng-click="deleteRow('express.expressLoans', $index)">Remove</i>    
        </td>
    </tr>

</table>


<div>
    <i class="fas fa-plus-circle" ng-click="addRow('express.expressLoans')">Add</i>
</div>