<h2>Guarantor</h2>


<div ng-repeat="r in d.signers.rows">


    <table>
        <tr>
            <td style="padding-right:20px">
                <h3>Guarantor # {{$index+1}}</h3>
            </td>
            <td><i class="fas fa-minus-circle" ng-click="deleteRow('signers.rows', $index)">Remove</i></td>
        </tr>
        <tr>
            <td>Full Name:</td>
            <td><input type="text" name="" id="" ng-model="r.company"></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td>
                <input type="text" ng-model="r.title">
            </td>
        </tr>
        <tr>
            <td>SSN (no dash):</td>
            <td><input type="text" name="" id="" ng-model="r.ssn" maxlength="12"></td>
        </tr>
        <tr>
            <td>Birthdate:</td>
            <td><input type="text" datepicker name="" id="" ng-model="r.dob"></td>
        </tr>
        <tr>
            <td>Address:
            </td>
            <td><input type="text" name="" id="" ng-model="r.address"></td>
        </tr>
        <tr>
            <td>City:
            </td>
            <td><input type="text" name="" id="" ng-model="r.city"></td>
        </tr>
        <tr>
            <td>State:
            </td>
            <td><input type="text" name="" id="" ng-model="r.state"></td>
        </tr>
        <tr>
            <td>ZIP:
            </td>
            <td><input type="text" name="" id="" ng-model="r.zip"></td>
        </tr>
        <tr>
            <td>ID Type:
            </td>
            <td>
                <select name="" id="" ng-model="r.idType" ng-options="x for x in choiceIdType"></select>
            </td>
        </tr>
        <tr>
            <td>ID Number:
            </td>
            <td><input type="text" name="" id="" ng-model="r.idNumber"></td>
        </tr>
        <tr>
            <td>State/Country:
            </td>
            <td><input type="text" name="" id="" ng-model="r.country"></td>
        </tr>
        <tr>
            <td>Issue Date:
            </td>
            <td><input type="text" datepicker name="" id="" ng-model="r.issue"></td>
        </tr>
        <tr>
            <td>Exp. Date:

            </td>
            <td><input type="text" datepicker name="" id="" ng-model="r.expDate"></td>
        </tr>


        <tr>
            <td colspan="4">
                <hr>
            </td>
        </tr>


        <tr>
            <td>Cost Center

            </td>
            <td><input type="text" name="" id="" ng-model="d.signers.costCenter"></td>
        </tr>
        <tr>
            <td>Primary Officer Number

            </td>
            <td><input type="text" name="" id="" ng-model="d.signers.primaryOfficer"></td>
        </tr>
        <tr>
            <td>CIS Number

            </td>
            <td><input type="text" name="" id="" ng-model="d.signers.cisNumber"></td>
        </tr>
        <tr>
            <td>Type of Entity

            </td>
            <td>
                <select name="" id="" ng-model="d.signers.selectTypeEntity" ng-options="x for x in choiceTypeEntity"></select>
            </td>
        </tr>

    </table>
    <hr>
</div>


<div>
    <i ng-click="addRow('signers.rows')" class="fas fa-plus-circle">Add</i>
</div>