<h2>
    Inbound Data Exchange
</h2>

<table>
    <tr>
        <td colspan="2" class="fmb-form-section">Customer Name:
        </td>
        <td> <input type="text" ng-model="d.idata.custname"></td>

        <td colspan="2" class="fmb-form-section fmb-label-left">Customer Code:
        </td>
        <td> <input type="text" ng-model="d.idata.custcode"></td>
    </tr>
    <tr>
        <td colspan="2" class="fmb-form-section">Account Number (exact format):
        </td>
        <td> <input type="text" ng-model="d.idata.acctnumber"></td>

        <td colspan="2" class="fmb-form-section fmb-label-left">Account Name:
        </td>
        <td> <input type="text" ng-model="d.idata.acctname"></td>
    </tr>




    <tr>
        <td colspan="2" class="fmb-form-section">Reporting Bank:
        </td>
        <td> <input type="text" ng-model="d.idata.repbank"></td>

        <td colspan="2" class="fmb-form-section fmb-label-left">ABA T/R#
        </td>
        <td> <input type="text" ng-model="d.idata.aba"></td>
    </tr>


    <tr>
        <td colspan="2" class="fmb-form-section">Bank Address:
        </td>
        <td>
            <input type="text" ng-model="d.idata.bankaddress">
        </td>

        <td colspan="2" class="fmb-form-section fmb-label-left">City State Zip:
        </td>
        <td>
            <input type="text" ng-model="d.idata.bankzip">
        </td>
    </tr>


    <tr>
        <td colspan="2" class="fmb-form-section">Reporting Contact:
        </td>
        <td>
            <input type="text" ng-model="d.idata.repcontact">
        </td>

        <td colspan="2" class="fmb-form-section fmb-label-left">Telephone:
        </td>
        <td>
            <input type="text" ng-model="d.idata.tel">
        </td>
    </tr>

    <tr>
        <td colspan="2" class="fmb-form-section">Data Entry Method
        </td>
        <td>

            <input type="checkbox" name="" id="" ng-model="d.idata.voice">Voice
            <br>
            <input type="checkbox" name="" id="" ng-model="d.idata.terminal">Terminal
            <br>
            <input type="checkbox" name="" id="" ng-model="d.idata.trans">Transmission
        </td>


    </tr>
    <tr>
        <td>Sending Vendor (BankLink, NDC, ADP, Mellon)</td>
        <td>
            <input type="text" name="" id="" ng-model="d.idata.sendingvendor">
        </td>
    </tr>
    <tr>
        <td class="fmb-form-section">Data Fields to Be Reported</td>

    </tr>

    <tr>
        <td>


<table>
    <tr>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c1"> Ledger Balance</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c2"> Collected Balance</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c3"> Available Balance</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c4"> CTS Ledger Balance</td>
    </tr>
    <tr>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c5"> Total Credits</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c6"> Detail Credits</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c7"> Wire Credits</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c8"> CTD Collected Balance</td>
    </tr>
    <tr>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c9"> Total Debits</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c10"> Detail Debits</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c11"> Wire Debits</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c12"> YTD Collected Balance</td>
    </tr>
    <tr>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c13"> One Day Float</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c14"> Number of Debits</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c15"> Lockbox Deposits</td>
        <td> <input type="checkbox" name="" id="" ng-model="d.idata.c16"> YTD Ledger Balance</td>
    </tr>
</table>

        </td>
    </tr>

</table>