<h2>Master Agreement</h2>


<table border="1">
    <tr style="text-align:center">
        <td></td>
        <td>Name</td>
        <td>TIN</td>
        <td>Common Signer</td>
        <td>Common Signer2 (if required)</td>
    </tr>
    <tr>
        <td>Main Entity</td>
        <td>
            <input type="text" name="" id="" ng-model="d.master.name">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.start.companyTIN" disabled>
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.master.signer">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.master.signer2">
        </td>
    </tr>
    <tr ng-repeat="r in d.master.subEntity">
        <td>Sub-Entity</td>
        <td>
            <input type="text" name="" id="" ng-model="r.name">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.tin">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.signer">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.signer2">
        </td>
        <td>
        <td><i class="fas fa-minus-circle" ng-click="deleteRow('master.subEntity', $index)">Remove</i></td>
        </td>
    </tr>
</table>

<i class="fas fa-plus-circle" ng-click="addRow('master.subEntity')">&nbsp;Add</i>