<table width="100%">
    <tr>
        <td class="fmb-footer-left"></td>
        <td class="fmb-footer-left">

            <!-- save buttons -->
            <!-- <button class="btn fmb-purple" ng-click="save()">
                    <i class="fas fa-arrow-circle-left ">&nbsp;Prev</i>
                </button> -->

            <table>
                <tr>
                    <td> <button class="btn fmb-green" ng-click="save()">
                            <i class="fas fa-save">&nbsp;Save</i>
                        </button></td>
                    <td><button class="btn fmb-blue" ng-disabled="!valid()" ng-click="submit()" ng-show="d.formStatus == 'Open'">
                            <i class="fas fa-save">&nbsp;Submit</i>
                        </button></td>
                    <td>
                        <div ng-show="!valid()" class="fmb-error" style="padding-left:20px">
                            * Required fields missing
                        </div>
                    </td>
                </tr>
            </table>




            <!-- <button class="btn fmb-purple" ng-click="save()">
                    Next&nbsp;<i class="fas fa-arrow-circle-right"></i>
                </button> -->
        </td>
        <td class="fmb-footer-right"></td>
    </tr>
</table>