<h2>Merchant Services Questionnaire
</h2>

<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.merchant.substatus" ng-options="x for x in choiceSubstatus"></select>
        </td>
    </tr>
    <tr>
        <td>Training Scheduled Date:</td>
        <td>
            <input name="" id="" datepicker ng-model="d.merchant.trainsched" />
        </td>
    </tr>

    <tr>
        <td>Training Completed Date:</td>
        <td>
            <input name="" id="" datepicker ng-model="d.merchant.traincomp" />
        </td>
    </tr>
</table>

<h2>Business Information

</h2>


<table>

    <tr>
        <td>Legal Name of Business
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.business"></td>
        <td>DBA Name
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbabusiness"></td>
    </tr>
    <tr>
        <td>Legal Address
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.legaladdress"></td>
        <td>DBA Address
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbaaddress"></td>
    </tr>
    <tr>
        <td>Suite
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.suite"></td>
        <td>Suite
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbasuite"></td>
    </tr>
    <tr>
        <td>PO Box
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.pobox"></td>
        <td>PO Box
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbapobox"></td>
    </tr>
    <tr>
        <td>Zip
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.zip"></td>
        <td>Zip</td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbazip"></td>
    </tr>
    <tr>
        <td>City
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.city"></td>
        <td>City </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbacity"></td>
    </tr>
    <tr>
        <td>State
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.state"></td>
        <td>State</td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbastate"></td>
    </tr>
    <tr>
        <td>Legal Phone
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.phone"></td>
        <td>DBA Phone </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbaphone"></td>
    </tr>
    <tr>
        <td>Legal fax
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.fax"></td>
        <td>DBA Fax
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dbafax"></td>
    </tr>
</table>

<h2>Same as DBA?</h2>
<table>
    <tr>
        <td colspan="2">
            <input type="checkbox" name="" id="" ng-model="d.merchant.dbasame">Yes
        </td>
    </tr>
    <tr>
        <td>Email Address
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.email"></td>
    </tr>
    <tr>
        <td>Confirm Email
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.confirmemail"></td>
    </tr>
    <tr>
        <td>Website Address
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.website" placeholder="www."></td>
    </tr>
    <tr>
        <td>Merchant Customer Service #
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.servicephone"></td>
    </tr>
</table>

<h2>Ownership and IRS W-9 Information
</h2>
<table>
    <tr>
        <td>Name</td>
        <td><input type="text" name="" id="" ng-model="d.merchant.irsname"></td>
    </tr>
    <tr>
        <td>Title</td>
        <td><input type="text" name="" id="" ng-model="d.merchant.irstitle"></td>
    </tr>
    <tr>
        <td>Type of Ownership </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.irsowner"></td>
    </tr>
    <tr>
        <td>Description of products sold</td>
        <td><input type="text" name="" id="" ng-model="d.merchant.irsdesc"></td>
    </tr>
    <tr>
        <td>Length Owned</td>
        <td>
            <input type="text" name="" id="" ng-model="d.merchant.irsownyears">Years
            <input type="text" name="" id="" ng-model="d.merchant.irsownmonths">Months
        </td>
    </tr>
</table>

<h2>Owner/Officer Information
</h2>

<table ng-repeat="r in d.merchant.merchantOfficer">
    <tr>
        <td>Officer {{$$index}}</td>
    </tr>
    <tr>
        <td>First Name
        </td>
        <td></td>
        <td>Middle Name
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Last Name
        </td>
        <td></td>
        <td>Title
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Social Security #
        </td>
        <td></td>
        <td>% Ownership

        </td>
        <td></td>
    </tr>
    <tr>
        <td>Date of Birth
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Residential Street Number
        </td>
        <td></td>
        <td>Direction
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Residential Street Name
        </td>
        <td></td>
        <td>Street Type
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Unit Number
        </td>
        <td></td>
        <td>Zip
        </td>
        <td></td>
    </tr>
    <tr>
        <td>City
        </td>
        <td></td>
        <td>State
        </td>
        <td></td>
    </tr>
    <tr>
        <td>Residential Phone #
        </td>
        <td></td>
        <td>Personal Guarantor
        </td>
        <td>
            <input type="checkbox" name="" id="" ng-model="r.guarantor">Yes
        </td>
    </tr>
</table>
<i class="fas fa-plus">Add</i>


<h2>Processing Information
</h2>
<table>
    <tr class="fmb-form-section">
        <td colspan="2">Previous Processing
        </td>
    </tr>
    <tr>
        <td>Has merchant ever accepted credit cards before?
        </td>
        <td>
            <input type="radio" name="ccard" id="" ng-model="d.merchant.ccard">Yes &nbsp;
            <input type="radio" name="ccard" id="" ng-model="d.merchant.ccard">No
        </td>
    </tr>
    <tr>
        <td>Number of Locations
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.numlocations"></td>
    </tr>

    <tr class="fmb-form-section">
        <td colspan="2">Seasonal
        </td>
    </tr>
    <tr>
        <td>Seasonal Merchant?

        </td>
        <td>
            <input type="radio" name="seasonal" id="" ng-model="d.merchant.seasonal">Yes &nbsp;
            <input type="radio" name="seasonal" id="" ng-model="d.merchant.seasonal">No
        </td>
    </tr>


    <tr class="fmb-form-section">
        <td colspan="2">Credit Card Processing Methods

        </td>
    </tr>
    <tr>
        <td>Card-Swiped Transactions
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.merchant.cardswipe">
        </td>
    </tr>


    <tr>
        <td>Manually Keyed
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.merchant.manualkey">
        </td>
    </tr>

    <tr>
        <td>Business to Business

        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.merchant.b2b">
        </td>
    </tr>



    <tr class="fmb-form-section">
        <td colspan="2">Projected Volume


        </td>
    </tr>
    <tr>
        <td>Average Transaction (Ticket) Amount

        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.merchant.avgamt">
        </td>
    </tr>


    <tr>
        <td>Total Monthly Sales

        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.merchant.totalsales">
        </td>
    </tr>


</table>


<h2>Banking Information
</h2>

<table>
    <tr>
        <td colspan="2">Account {{$$index}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Routing Number
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.routing"></td>
    </tr>
    <tr>
        <td>Account Number

        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.acctnumber"></td>
    </tr>
</table>


<h2>Additional
</h2>


<table>
    <tr class="fmb-form-section">
        <td colspan="2">Equipment and Processing Needs
        </td>
    </tr>


    <tr>
        <td>Touch Tone processing
            (appropriate for VERY LOW volume)
        </td>
        <td> <input type="radio" name="touchtone" id="" ng-model="d.merchant.touchtone">Yes &nbsp;
            <input type="radio" name="touchtone" id="" ng-model="d.merchant.touchtone">No</td>
    </tr>
    <tr>
        <td>Internet Processing?
        </td>
        <td> <input type="radio" name="webprocess" id="" ng-model="d.merchant.webprocess">Yes &nbsp;
            <input type="radio" name="webprocess" id="" ng-model="d.merchant.webprocess">No</td>
    </tr>
    <tr>
        <td>If yes, website address:
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.website"></td>
    </tr>
    <tr class="fmb-form-section">
        <td colspan="2">If processing via a PC software product, which software?
        </td>
    </tr>
    <tr>
        <td>Software Make</td>
        <td><input type="text" name="" id="" ng-model="d.merchant.softwaremaker"></td>
    </tr>
    <tr>
        <td>Software Model</td>
        <td><input type="text" name="" id="" ng-model="d.merchant.softwaremodel"></td>
    </tr>
    <tr>
        <td>Software Version</td>
        <td><input type="text" name="" id="" ng-model="d.merchant.softwareversion"></td>
    </tr>
    <tr>
        <td>Dedicated phone line for merchant services processing?
        </td>
        <td>
            <input type="checkbox" name="" id="" ng-model="d.merchant.dedicatedphone">
        </td>
    </tr>


    <tr>
        <td>If yes: Analog
        </td>
        <td><input type="checkbox" name="" id="" ng-model="d.merchant.analog"></td>
    </tr>
    <tr>
        <td>Digital
        </td>
        <td><input type="checkbox" name="" id="" ng-model="d.merchant.digital"></td>
    </tr>


    <tr>
        <td>Does the client own equipment?
        </td>
        <td><input type="checkbox" name="" id="" ng-model="d.merchant.ownequip"></td>
    </tr>
    <tr>
        <td>If so: Terminal:
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.terminal"></td>
    </tr>
    <tr>
        <td>Printer:
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.printer"></td>
    </tr>
    <tr>
        <td>Pin Pad:
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.pinpad"></td>
    </tr>
    <tr>
        <td>Does the client want to purchase or rent equipment?
        </td>
        <td>

            <input type="radio" name="" id="" ng-model="d.merchant.equip" value="Purchase">Purchase &nbsp;
            <input type="radio" name="" id="" ng-model="d.merchant.equip" value="Rent">Rent &nbsp;
            <input type="radio" name="" id="" ng-model="d.merchant.equip" value="N/A">N/A

        </td>

        </td>
    </tr>
    <tr class="fmb-form-section">
        <td colspan="2">Check Verification and Guarantee Services
        </td>
    </tr>
    <tr>
        <td>Does the client currently have a Check Authorization Service?
        </td>
        <td>
            <input type="radio" name="checkauth" id="" ng-model="d.merchant.checkauth" value="Yes">Yes
            <input type="radio" name="checkauth" id="" ng-model="d.merchant.checkauth" value="No">No
        </td>
    </tr>
    <tr>
        <td>If yes: Provider
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.provider"></td>
    </tr>
    <tr>
        <td>Is the client interested in CrossCheck?
        </td>
        <td><input type="checkbox" name="" id="" ng-model="d.merchant.crosscheck"></td>
    </tr>


    <tr class="fmb-form-section">
        <td colspan="2">Gift Card Program
        </td>
    </tr>
    <tr>
        <td>Does client currently have one?
        </td>
        <td>
            <input type="radio" name="clienthave" id="" ng-model="d.merchant.clienthave">Yes &nbsp;
            <input type="radio" name="clienthave" id="" ng-model="d.merchant.clienthave">No
        </td>
    </tr>
    <tr>
        <td>Interested in gift card program?
        </td>
        <td> <input type="radio" name="giftcard" id="" ng-model="d.merchant.giftcard">Yes &nbsp;
            <input type="radio" name="giftcard" id="" ng-model="d.merchant.giftcard">No</td>
    </tr>

</table>


<h2>Patriot Act</h2>
<table>
    <tr>
        <td colspan="2">Individual Information Section III
            <br>
            <input type="radio" name="indivinfo" id="" ng-model="d.merchant.indivinfo">Driver's License
            <input type="radio" name="indivinfo" id="" ng-model="d.merchant.indivinfo">State ID
        </td>
    </tr>
    <tr>
        <td>Number
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.number"></td>
    </tr>
    <tr>
        <td>Date of Issuance
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.dateissue"></td>
    </tr>
    <tr>
        <td>State of Issuance
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.stateissue"></td>
    </tr>
    <tr>
        <td>Expiration Date
        </td>
        <td><input type="text" name="" id="" ng-model="d.merchant.expdate"></td>
    </tr>
</table>