<h2>
    Repetitive Wire Transfer
</h2>

<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.repwire.substatus" ng-options="x for x in choiceSubstatus"></select>
        </td>
    </tr>
    <tr>
        <td>Training Scheduled Date:</td>
        <td>
            <input name="" id="" datepicker ng-model="d.repwire.trainsched" />
        </td>
    </tr>

    <tr>
        <td>Training Completed Date:</td>
        <td>
            <input name="" id="" datepicker ng-model="d.repwire.traincomp" />
        </td>
    </tr>
</table>

<table>
    <tr>
        <td colspan="2" class="fmb-form-section">1. General Information Required
        </td>
    </tr>


    <tr>
        <td>Company</td>
        <td><input type="text" name="" id="" ng-model="d.start.companyName" disabled></td>

    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.address"></td>
        <td>City State Zip</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.citystate"></td>
    </tr>
    <tr>
        <td>Phone #</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.phone"></td>
        <td>Fax #</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.fax"></td>
    </tr>
    <tr>
        <td>Tax ID</td>
        <td><input type="text" name="" id="" ng-model="d.start.companyTIN" maxlength="9" size="10" disabled></td>
        <td>Email Address</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.email"></td>
    </tr>


    <tr>
        <td colspan="4" class="fmb-form-section">
            <p>A wire initiated by telephone on a regular basis can be setup as a repetitive wire transfer. A unique
                repetitive number is assigned and only the dollar amount and additional information can be this type
                of request.</p>


        </td>
    </tr>

    <tr>
        <td class="fmb-form-section">
            <p>The following setup is:</p>
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.repwire.followsetup">
        </td>
    </tr>
    <tr>
        <td>REPETITIVE NUMBER (for New leave blank)</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.repnumber"></td>
    </tr>
    <tr>
        <td><b>DEBIT (Originator's Information)</b></td>
        <td></td>
    </tr>
    <tr>
        <td>Account #:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.acct"></td>
    </tr>
    <tr>
        <td>Account Title:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.accttitle"></td>
    </tr>
    <tr>
        <td>What is the purpose of the wire?:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.purpose"></td>
    </tr>
    <tr>
        <td>List Type of Currency: (U.S. or Other)</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.curr"></td>
    </tr>
    <tr>
        <td><b>CREDIT (Beneficiary Information)</b></td>
        <td></td>
    </tr>
    <tr>
        <td>Receiving Bank ABA# or Code:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.aba"></td>
    </tr>
    <tr>
        <td>Receiving Bank Name:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.recbank"></td>
    </tr>
    <tr>
        <td>City, State/Country:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.city"></td>
    </tr>
    <tr>
        <td>
            <b>
                (for further credit to, if applicable)</b></td>
    </tr>
    <tr>
        <td>
            Beneficiary Bank's ABA#, Acct#, or Code:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.fbo"></td>
    </tr>
    <tr>
        <td>Beneficiary Bank's Name:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.bankname"></td>
    </tr>
    <tr>
        <td>City, State/Country:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.bankcity"></td>
    </tr>
    <tr>
        <td>Branch:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.bankbranch"></td>
    </tr>
    <tr>
        <td><b>BENEFICIARY'S NAME</b></td>
        <td><input type="text" name="" id="" ng-model="d.repwire.benname"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.benaddr"></td>
    </tr>
    <tr>
        <td>City, State/Country:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.bencity"></td>
    </tr>
    <tr>
        <td>Account Number:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.benacct"></td>
    </tr>
    <tr>
        <td>Additional Information for Beneficiary:</td>
        <td><input type="text" name="" id="" ng-model="d.repwire.benaddl"></td>
    </tr>

</table>