<h2>
    Money Market Mutual Fund Sweep
</h2>

<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.mmsweep.substatus" ng-options="x for x in choiceSubstatus"></select>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="fmb-form-section">
            <h2>
                1. General Information / Required
            </h2>
        </td>
    </tr>


    <tr>
        <td>Company</td>
        <td><input type="text" name="" id="" ng-model="d.start.companyName" disabled></td>

    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" name="" id="" ng-model="d.mmsweep.address"></td>
        <td>City State Zip</td>
        <td><input type="text" name="" id="" ng-model="d.mmsweep.citystate"></td>
    </tr>
    <tr>
        <td>Phone #</td>
        <td><input type="text" name="" id="" ng-model="d.mmsweep.phone"></td>
        <td>Fax #</td>
        <td><input type="text" name="" id="" ng-model="d.mmsweep.fax"></td>
    </tr>
    <tr>
        <td>Tax ID</td>
        <td><input type="text" name="" id="" ng-model="d.start.companyTIN" maxlength="9" size="10" disabled></td>
        <td>Email Address</td>
        <td><input type="text" name="" id="" ng-model="d.mmsweep.email"></td>
    </tr>
    <tr>
        <td>Branch #</td>
        <td><input type="text" name="" id="" ng-model="d.mmsweep.branch"></td>
        <td>Treasury Manager / Account Officer</td>
        <td><input type="text" name="" id="" ng-model="d.start.tmo" disabled></td>
    </tr>

    <tr>
        <td colspan="2" class="fmb-form-section">
            <h2>
                2. Account Information / Required
            </h2>
        </td>
    </tr>

    <tr>
        <td>DDA Account Number</td>
        <td><input type="text" name="" id="" ng-model="d.mmsweep.ddaacct"></td>
    </tr>
    <tr>
        <td>Threshold Balance for Sweep</td>
        <td><input type="text" name="" id="" ng-model="d.mmsweep.threshbalance">
            (collected funds)</td>
    </tr>
    <tr>
        <td colspan="2" class="fmb-form-section">
            <h2>
                3. Product Selection / Required
            </h2>
        </td>
    </tr>
    <tr>
        <td colspan="4">Choose One
            <br>
            <input type="radio" name="product" id="product1" ng-model="d.mmsweep.product" value="buscash">Business Cash
            Management
            Account With Automatic Transfer to Selected
            Non-FDIC Insured Mutual Fund (Minimum Combined Collected Balance Which Between the Bank DDA Account
            ("Business Cash Management Account") AND Non-FDIC Insured Federated Funds Mutual Fund)
            <div ng-show="d.mmsweep.product == 'buscash'">
                <br>
                <input type="radio" name="productamt" id="product2" ng-model="d.mmsweep.productamt" value="25">$25,000
                Minimum Deposit
                <br>
                <input type="radio" name="productamt" id="product3" ng-model="d.mmsweep.productamt" value="50">$50,000
                Minimum Deposit
            </div>
            <br>
            <input type="radio" name="product" id="product4" ng-model="d.mmsweep.product" value="corpcash">Corporate
            Cash Management Account ($150,000 Minimum Deposit) With Automatic Transfer to Selected Non-FDIC Insured
            Mutual Fund (Minimum CoBalance Which Must Be Maintained Between the Bank DDA Account ("Corporate Cash
            Management Account") AND Non-FDIC Insured Federated Funds Mutual)
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <br>
            Choose One / <u>Provide Client with Prospectus</u>
            <br>
            <input type="radio" name="prop" id="prop1" ng-model="d.mmsweep.prop" value="prime">Prime Obligations Fund
            <br>
            <input type="radio" name="prop" id="prop2" ng-model="d.mmsweep.prop" value="primecash">Prime Cash
            Obligation
            <br>
            <input type="radio" name="prop" id="prop3" ng-model="d.mmsweep.prop" value="taxfree">Tax-Free Obligations
            Fund
            <br>
            <input type="radio" name="prop" id="prop4" ng-model="d.mmsweep.prop" value="primeob">Prime Obligations Fund
            - Capital Shares (option only available to Corporate Cash Management Accounts as defined above)
        </td>
    </tr>
    <tr>
        <td colspan="2" class="fmb-form-section">
            <h2>
                4. Taxpayer Identification Number Certification / Required
            </h2>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            FAILURE TO COMPLETE THIS SECTION MAY RESULT IN BACKUP WITHHOLDING OF 31% OF ANY PAYMENTS MADE TO YOU.
            Certification Instructions: Select One
            <br>
            <input type="radio" name="d.mmsweep.penalty1" id="d.mmsweep.penalty1a" ng-model="d.mmsweep.penalty1" value="pen1">Under
            penalty of perjury, I certify
            that:
            <br>
            <p>
                <ol>
                    <li>The number shown on this form is my correct Taxpayer Identification Number (or I am waiting for
                        a
                        number to be issued to me), AND</li>
                    <li>I am not subject to any backup withholding because (a) I am exempt from backup withholding, or
                        (b)
                        I have not been notified by the Internal Revenue Service that I am
                        subject to backup withholding as a result of a failure to report all interest or dividends, or
                        (c) the
                        IRS has notified me that I am no longer subject to backup withholding.
                        Or
                    </li>
                </ol>
            </p>
            <input type="radio" name="d.mmsweep.penalty1" id="d.mmsweep.penalty1b" ng-model="d.mmsweep.penalty1" value="pen2">Under
            penalty of perjury, I certify
            that:
            <br>
            <p>
                <ol>
                    <li>The number shown on this form is my correct Taxpayer Identification Number (or I am waiting for
                        a
                        number to be issued to me), AND</li>
                    <li>I am currently subject to backup withholding because of underreporting interest or dividends on
                        my
                        tax return. Or</li>
                    <li>By choosing only the appropriate statement below, I certify under penalties of perjury that:
                    </li>
                </ol>
                <ul>
                    <input type="radio" name="d.mmsweep.penalty1" id="d.mmsweep.penalty1c" value="notaxid" ng-model="d.mmsweep.penalty1">I
                    do not have a taxpayer identification number, but I have applied for or intended to apply for one,
                    or</li>
                    <br>
                    <input type="radio" name="d.mmsweep.penalty1" id="d.mmsweep.penalty1d" value="exempt" ng-model="d.mmsweep.penalty1">I
                    am an exempt recipient, or</li>
                    <br>
                    <input type="radio" name="d.mmsweep.penalty1" id="d.mmsweep.penalty1e" value="neither" ng-model="d.mmsweep.penalty1">I
                    am neither a citizen nor a resident of the United States for
                    purposes of the Internal Revenue Code, I am a resident of</li>

                    <input type="text" name="" id="" ng-model="d.mmsweep.resident">
                </ul>
            </p>
        </td>
    </tr>



</table>