<h2>Positive Pay</h2>

<table>
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.ppay.substatus" ng-options="x for x in choiceSubstatus"></select>
        </td>
    </tr>
</table>

<table border="1">
    <tr style="text-align:center">
        <td></td>
        <td>Type
        </td>
        <td>
            FTP
        </td>
        <td>Business Name
        </td>
        <td>Account Number
        </td>
        <td>Phone Number
        </td>
        <td>E-Mail
        </td>

    </tr>
    <tr ng-repeat="r in d.ppay.wireAccount">
        <td>{{$index+1}}</td>
        <td>
            <input type="radio" name="ppay{{$index}}" id="ppay-trad{{$index}}" ng-model="r.type" value="Traditional">
            <label for="ppay-trad{{$index}}">
                Traditional
            </label>
            <input type="radio" name="ppay{{$index}}" id="ppay-payee{{$index}}" ng-model="r.type" value="Payee">
            <label for="ppay-payee{{$index}}">
                Payee
            </label>
            <input type="radio" name="ppay{{$index}}" id="ppay-reverse{{$index}}" ng-model="r.type" value="Reverse">
            <label for="ppay-reverse{{$index}}">
                Reverse
            </label>

        </td>
        <td>

            <input type="radio" name="ftp{{$index}}" id="ppay-ftp{{$index}}" ng-model="r.ftp" value="Yes">
            <label for="ppay-ftp{{$index}}">
                Yes
            </label>
            <input type="radio" name="ftp{{$index}}" id="ppay-ftp{{$index}}" ng-model="r.ftp" value="No">
            <label for="ppay-ftp{{$index}}">
                No
            </label>

        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.start.companyName" disabled>
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.acctnumber">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.phone">
        </td>
        <td>
            <input type="text" name="" id="" ng-model="r.email">
        </td>
        <td><i class="fas fa-minus-circle" ng-click="deleteRow('ppay.wireAccount', $index)">Remove</i></td>
    </tr>
    <tr>
        <td>
            <i class="fas fa-plus-circle" ng-click="addRow('ppay.wireAccount')">&nbsp;Add</i>
        </td>
    </tr>
</table>

<br><br>

<table border="1">
    <tr style="text-align:center">
        <td></td>
        <td>Administrator
        </td>
        <td>Phone Number
        </td>
        <td>E-Mail
        </td>

    </tr>
    <tr ng-repeat="r in d.ppay.wireIndividual">
        <td>{{$index+1}}</td>
        <td><input type="text" name="" id="" ng-model="r.admin"></td>
        <td><input type="text" name="" id="" ng-model="r.phone"></td>
        <td><input type="text" name="" id="" ng-model="r.email"></td>
        <td><i class="fas fa-minus-circle" ng-click="deleteRow('ppay.wireIndividual', $index)">Remove</i></td>
    </tr>
    <tr>
        <td>
            <i class="fas fa-plus-circle" ng-click="addRow('ppay.wireIndividual')">&nbsp;Add</i>
        </td>
    </tr>
</table>