<h2>
    ACH Universal Debit Block
</h2>

<table border="0">
    <tr>
        <td>Sub-Status:</td>
        <td>
            <select name="" id="" ng-model="d.achdebit.substatus" ng-options="x for x in choiceSubstatus"></select>
        </td>
    </tr>
    <tr>
        <td>Training Scheduled Date:</td>
        <td>
            <input name="" id="" datepicker ng-model="d.achdebit.trainsched" />
        </td>
    </tr>

    <tr>
        <td>Training Completed Date:</td>
        <td>
            <input name="" id="" datepicker ng-model="d.achdebit.traincomp" />
        </td>
    </tr>
    <tr>
        <td>Company</td>
        <td colspan="3"><input type="text" ng-model="d.start.companyName" size="70" disabled>
        </td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text" ng-model="d.achdebit.address1" size="70"></td>


        <td>City/State/Zip
        </td>
        <td>
            <input type="text" name="" id="" ng-model="d.achdebit.address2">
        </td>
    </tr>
    <tr>
        <td>Phone #</td>
        <td><input type="text" ng-model="d.start.companyContactPhone" disabled></td>
        <td>Fax #
        </td>
        <td><input type="text" name="" id="" ng-model="d.achdebit.fax"></td>
    </tr>
    <tr>
        <td>Tax ID</td>
        <td><input type="text" ng-model="d.start.companyTIN" disabled></td>

        <td>Email Address
        </td>
        <td><input type="text" name="" id="" ng-model="d.start.companyContactMail"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Treasury Management / Account Officer
        </td>
        <td><input type="text" name="" id="" ng-model="d.start.tmo" disabled>
        </td>
    </tr>
    <tr>
        <td>DDA Account Numbers
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <div ng-repeat="r in d.achdebit.achdebitAccounts">
                <input type="text" name="" id="" ng-model="r.accountNumber">
                <i class="fas fa-minus-circle" ng-click="deleteRow('achdebit.achdebitAccounts', $index)">Remove</i>
            </div>
            <i class="fas fa-plus-circle" ng-click="addRow('achdebit.achdebitAccounts')">Add</i>
        </td>
        <td></td>
    </tr>
</table>